@media (max-width: 1023px)
{
    .cont{
        padding-left: 40px;
        padding-right: 40px;
    }

    ._lock{
        overflow: hidden;
    }


    .header{
        z-index: auto;
    }
    
	.header__top{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        max-width: 537px;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
        background: #fff;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity .2s linear, visibility .2s linear;
        z-index: 100;
        padding: 20px 0 27px;
    }

    .header__top._show{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .header__top-mob{
        position: sticky;
        left: 0;
        top: -20px;
        display: block;
        padding: 10px 0;
        margin-bottom: 20px;
        z-index: 10;
        background: #fff;
    }

    .header__top-close{
        position: absolute;
        left: 30px;
        top: 50%;
        width: 30px;
        height: 30px;
        margin-top: -15px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        color: #1C2645;
        opacity: .3;
    }

    .header__top-close svg{
        display: block;
        width: 11px;
        height: 11px;
        fill: none;
        stroke: currentColor;
    }
    
    .header__top-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .header__top-logo a,
    .header__top-logo img{
        display: block;
    }

    .header__top .cont{
        display: block;
    }

    .header__info{
        height: 70px;
    }

    .header__info-wrap{
        position: relative;
        padding: 15px 0;
        left: 0;
        top: 0;
        width: 100%;
        background: #fff;
        z-index: 99;
        transition: box-shadow .2s linear;
    }

    .header__info-wrap._fix{
        position: fixed;
        box-shadow: 0 0 10px 0 rgba(13, 30, 42, 0.1);
    }

    .header__info .header__logo{
        display: none;
    }

    .header-catalog{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        max-width: 537px;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        background: #fff;
        transition: opacity .2s linear, visibility .2s linear;
        z-index: 100;
    }

    .header-catalog._show{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .header__search{
        width: 100%;
        max-width: none;
    }

    .header__btns{
        display: none;
    }

    .header__cats-link{
        font-size: 12px;
        line-height: 30px;
    }

    .mini-modal__select{
        width: 63px;
        margin-right: 6px;
    }

    .mini-modal__btn-select{
        padding-left: 9px;
        padding-right: 20px;
    }

    .mini-modal__btn-select svg{
        width: 6px;
        height: 3px;
        margin-top: -1.5px;
    }

    .header__search-field {
        width: calc(100% - 69px);
    }

    .header__mob{
        display: block;
        padding-top: 15px;
        position: relative;
    }

    .header__mob .cont{
        min-height: 40px;
        align-items: center;
        align-content: center;
    }

    .mob-menu-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;

        width: 20px;
        height: 20px;
        margin-right: 15px;
    }

    .mob-menu-btn span{
        display: block;
        width: 100%;
        height: 2px;
        background: #737D87;
        position: relative;
	    transition: .2s linear;
    }

    .mob-menu-btn span + span{
        margin-top: 3px;
    }

    .mob-menu-btn._active span:nth-child(2){
        opacity: 0;
    }

    .mob-menu-btn._active span:first-child{
        transform: rotate(45deg);
        top: 5px;
    }

    .mob-menu-btn._active span:nth-child(3){
        transform: rotate(-45deg);
        top: -5px;
    }

    .header__top .header__adres{
        margin-right: 0;
        padding-bottom: 19px;
        line-height: 1.3;
        border-bottom: 1px solid rgba(28, 38, 69, 0.2);
    }

    .header__adres{
        margin-right: 12px;
    }

    .header__top .header__iso{
        display: none;
    }

    .header__iso{
        margin-right: 0;
    }

    .header__iso-link{
        padding: 0;
        width: 29px;
        height: 29px;
    }

    .header__mob .header__phone a{
        display: block;
        width: 18px;
        height: 18px;
        background: url(../images/ic_tel_mob.svg) 50% no-repeat;
    }

    .header__mob .header__mail a{
        display: block;
        width: 18px;
        height: 18px;
        background: url(../images/ic_mail_mob.svg) 50% no-repeat;
    }

    .header__mob .header__lg a{
        display: block;
        width: 18px;
        height: 18px;
        background: url(../images/ic_tg_mob.svg) 50% no-repeat;
    }

    .header__top .header__logo{
        display: none;
    }

    .header__logo{
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }

    .header__logo a,
    .header__logo img{
        display: block;
        max-width: 100%;
    }

    .header__list{
        gap: 0;
    }

    .header__list-item{
        width: 100%;
        font-size: 16px;
        line-height: 1.3;
        border-bottom: 1px solid rgba(28, 38, 69, 0.2);
        padding: 15px 0;
    }

    .header__list-submenu{
        width: 100%;
        display: none;
        background: none;
        box-shadow: none;
        border-radius: 0;
        position: relative;
        left: 0;
        top: 0;
        padding: 15px 15px 0;
    }

    .header__list-item._show .header__list-submenu{
        display: block;
    }

    .header__list-item._show .header__list-link svg{
        transform: rotate(180deg);
    }

    .header__list-submenu div{
        font-size: 16px;
    }

    .header__top .header__contacts{
        margin-top: 30px;
        gap: 8px;
    }

    .header__top .header__phone{
        width: 100%;
        font-size: 18px;
    }

    .header__top .header__mail{
        font-size: 18px;
    }

    .header__top .header__messengers{
        margin: 16px 0 0;
        gap: 10px;
    }

    .header__messengers-link{
        width: 27px;
        height: 27px;
    }

    .header__info .cont{
        flex-wrap: nowrap;
        gap: 20px;
    }

    .header__info-phone{
        width: 15px;
        height: 15px;
        flex-shrink: 0;
        background: url(../images/ic_tel_mob.svg) 50%/contain no-repeat;
    }

    .header__info-wrap._fix .header__info-phone{
        display: block;
    }

    .fix-btns
    {
        position: fixed;
        z-index: 70;
        bottom: 0;
        left: 0;

        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        width: 100%;
        padding: 0 40px;

        background: #FFF;
        box-shadow: 0 0 10px 0 rgba(13, 30, 42, 0.1);
    }

    .fix-btns__btn
    {
        position: relative;

        font-size: 12px;
        line-height: 1.3;
        color: rgba(27, 39, 69, 0.5);

        display: block;

        padding: 10px 0 8px;

        text-decoration: none;

        transition: color .2s linear;
    }

    .fix-btns__btn._active
    {
        color: #1B2745;
    }

    .fix-btns__btn-icon
    {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;

        height: 20px;
    }

    .fix-btns__btn-icon svg
    {
        display: block;

        width: 20px;
        height: 20px;

        fill: #1B2745;
    }

    .fix-btns__btn-icon .fix-btns__btn-catalog{
        width: 24px;
    }

    .fix-btns__btn-number
    {
        position: absolute;
        top: 7px;
        left: 50%;

        color: #FFF;
        font-size: 10px;
        line-height: 14px;

        min-width: 14px;
        height: 14px;
        margin-left: 3px;
        padding: 0 5px;

        text-align: center;

        border-radius: 50px;
        background: #319ACE;
    }

    .fix-btns__btn-name{
        margin-top: 8px;
        display: block;
    }

    .header-catalog .cont{
        padding: 0 30px;
    }

    .header-catalog__open{
        display: none;
    }

    .header-catalog__block{
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: visible;
        overflow: hidden;
        overflow-y: auto;
        padding:  0 0 20px 0;
    }

    .header-catalog._second .header-catalog__block{
        overflow: hidden;
    }

    .header-catalog._show .header-catalog__block{
        pointer-events: auto;
    }
    
    .header-catalog__wrap{
        padding: 0;
        height: auto;
    }

    .header-catalog__wrap::before{
        display: none;
    }

    .header-catalog__bg{
        height: auto;
    }

    .header-catalog .cont{
        height: auto;
    }

    .header-menu{
        width: 100%;
        padding: 0;
        background: none;
        overflow: visible;
    }

    .catalog-head{
        display: block;
        padding: 30px 0 10px;
        background: #fff;
        position: sticky;
        left: 0;
        top: 0;
        z-index: 10;
    }

    .catalog-head__top{
        justify-content: space-between;
    }

    .catalog-head__back{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        color: rgba(28, 38, 69, 0.4);
    }

    .catalog-head__back svg{
        display: block;
        width: 10px;
        height: 15px;
        fill: currentColor;
    }

    .catalog-head__close{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        color: rgba(28, 38, 69, 0.4);
    }

    .catalog-head__close svg{
        width: 11px;
        height: 11px;
        stroke: currentColor;
    }

    .catalog-head__title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.3;
        color: #1B2745;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .catalog-head .header__search{
        margin-top: 15px;
    }

    ._second .catalog-head .header__search{
        display: none;
    }

    .catalog-head .header__search-field{
        width: 100%;
        border: 1px solid rgba(115, 125, 135, 0.5);
        border-radius: 4px;
    }

    .catalog-head .header__search-input{
        padding-left: 14px;
    }

    .header-catalog__wrap{
        margin-top: 18px;
    }

    .header-menu__item + .header-menu__item{
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid rgba(28, 38, 69, 0.2);
    }

    .header-menu__link{
        font-size: 12px;
        padding: 0;
        min-width: 1px;
        width: 100%;
    }

    .header-menu__link-icon{
        width: 20px;
        height: 30px;
    }

    .header-menu__link-arrow{
        display: block;
        width: 9px;
        height: 5px;
        margin-left: auto;
        flex-shrink: 0;
        align-self: center;
        transform: rotate(-90deg);
    }

    .header-menu__link-name{
        padding-right: 10px;
    }

    .header-submenu
    {
        position: fixed;
        top: 96px;
        left: 0;

        visibility: visible;
        overflow: hidden;
        overflow-y: auto;

        width: 100%;
        max-width: 537px;
        height: calc(100% - 96px);
        padding: 0 30px 20px;

        opacity: 1;
        background: #FFF;

        transition: transform .2s linear;
		transform: translateX(-100%);
    }

    .header-catalog._show .header-submenu
    {
        pointer-events: auto;
    }

    .header-catalog .header-submenu._show
    {
        transform: translateX(0);
    }

    .header-submenu__title{
        display: none;
    }

    .header-submenu__flex{
        gap: 0;
    }

    .header-submenu__col{
        width: 100%;
    }

    .header-submenu__item{
        padding: 17px 0;
        margin-top: 0;
    }
    
    .header-submenu__item + .header-submenu__item{
        border-top: 1px solid rgba(28, 38, 69, 0.2);
    }
    
    .header-submenu__col + .header-submenu__col{
        border-top: 1px solid rgba(28, 38, 69, 0.2);
    }

    .header-submenu__link{
        font-size: 12px;
    }

    .header-submenu__link._sub::before{
        top: 0;
    }
	/* commit */

	body
	{
		font-size: 12px;
	}

	._marg
	{
		margin-top: 40px;
	}

	.top-wrap
	{
		align-items: center;
		align-content: center;
	}

	.main-title
	{
		font-size: 24px;
	}

	.btn-arrow
	{
		font-size: 12px;
	}

	.btn-arrow > span
	{
		padding-right: 14px;
	}

	.btn-arrow > span svg
	{
		width: 6px;
		height: 11px;
		margin-top: -6px;
	}

	.slider-pagination
	{
		margin-top: 30px;
	}

	.slider-dot
	{
		width: 5px;
		height: 5px;
	}

	.slider-dot + .slider-dot 
	{
		margin-left: 2px;
	}

	.advantages-main__item
	{
		border-radius: 5px;
	}

	.advantages-main__info
	{
		padding-top: 15px;
		padding-bottom: 15px;
		width: 62%;
	}

	.advantages-main__title 
	{
		font-size: 14px;
	}

	.advantages-main__desc
	{
		font-size: 12px;
	}

	.advantages-main__img 
	{
		width: 38%;
	}


	.cats-main__item
	{
		width: calc(100% / 4 - 15px);
		border-radius: 5px;
		padding-top: 22px;
		padding-bottom: 22px;
		padding-left: 13px;
		padding-right: 13px;
	}

	.cats-main__img
	{
		max-width: 115px;
		margin: 0 auto;
	}


	.services__slider .slider-pagination
	{
		display: flex;
	}

	.services__slider .slider-button-prev,
	.services__slider .slider-button-next
	{
		display: none;
	}

	.services__img img
	{
		filter: none;
	}

	.services__name::after
	{
		width: 6px;
		height: 8px;

		margin-top: -4px;
	}


	.areas-activity__wrap
	{
		margin-top: 20px;
	}

	.areas-activity__item
	{
		border-radius: 5px;
		min-height: 143px;
		height: auto;
		padding: 15px 20px;

		background: #1B2745;
	}

	.areas-activity__title
	{
		font-size: 16px;
		color: #fff;
	}
	
	.areas-activity__img
	{
		opacity: .15;
		padding: 22px 12px;
	}

	.areas-activity__desc
	{
		opacity: 1;
		margin-top: 10px;
		margin-bottom: 12px;
	}

	.areas-activity__number
	{
		font-size: 12px;
		color: #fff;
	}

	.areas-activity__number svg 
	{
		width: 6px;
		height: 11px;
	}


	.get-consultation
	{
		padding-top: 36px;
		padding-bottom: 48px;
	}

	.get-consultation__info
	{
		width: 100%;
		max-width: 433px;
	}

	.get-consultation__desc
	{
		font-size: 12px;
	}

	.get-consultation__bg img
	{
		object-position: 88%;
	}


	.comp-projects__item
	{
		border-radius: 5px;
		min-height: 1px;
	}

	.comp-projects__info
	{
		padding: 20px 20px 75px;
	}

	.comp-projects__title 
	{
		font-size: 20px;
	}

	.comp-projects__desc 
	{
		font-size: 12px;
	}
	
	.comp-projects__link
	{
		margin-top: 16px;
	}

	.slider-button-prev._bot-number
	{
		width: 25px;
		height: 25px;
		left: 20px;
        bottom: 32px;
	}

	.slider-button-next._bot-number
	{
		width: 25px;
		height: 25px;
		left: 104px;
        bottom: 32px;
	}

	.slider-button-prev._bot-number svg
	{
		width: 7px;
		height: 13px;

		margin-left: -2px;
	}

	.slider-button-next._bot-number svg
	{
		width: 7px;
		height: 13px;

		margin-left: 2px;
	}

	.slider-pagination.slider-pagination_number 
	{
		bottom: 31px;
		left: 58px;
	}

	.comp-projects__bg img 
	{
		aspect-ratio: 1 / .736;
	}


	.tabs-text__btn._active
	{
		font-size: 24px;
	}

	.tabs-text__btn + .tabs-text__btn
	{
		margin-left: 15px;
	}

	.tabs-text__btn 
	{
		font-size: 16px;
	}

	.main-news__cols
	{
		display: block;
		margin-top: 22px;
	}

	.main-news__coll
	{
		width: 100%;
	}

	.main-news__bg
	{
		aspect-ratio: 1 / .633;
	}

	.main-news__bg > img
	{
		border-radius: 5px;
	}

	.main-news__info
	{
		border-radius: 3px;
		padding: 20px;
	}

	.main-news__stikers 
	{
		margin-top: -5px;
		margin-left: -5px;
	}

	.main-news__stiker
	{
		margin-top: 5px;
		margin-left: 5px;

		font-size: 12px;
		line-height: 21px;
		padding-left: 5px;
		padding-right: 5px;
	}

	.main-news__info-name 
	{
		font-size: 16px;
	}

	.main-news__info-desc 
	{
		font-size: 12px;
		margin-top: 8px;
	}

	.main-news__info-link 
	{
		margin-top: 15px;
	}

	.main-news__colr
	{
		width: 100%;
		margin-top: 10px;
	}

	.main-news__wrap
	{
		max-width: 100%;
	}

	.main-news__items._box-items
	{
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
		align-content: stretch;
		flex-wrap: wrap;

		margin-top: -22px;
		margin-left: -22px;
	}

	.main-news__items._box-items .main-news__item
	{
		width: calc(100%/3 - 20px);
		margin-top: 20px;
		margin-left: 20px;
		padding-right: 20px;
		border-right: 1px solid #E2E8F3;
	}

	.main-news__items._box-items .main-news__item:nth-child(3n) 
	{
		padding-right: 0;
		border-right: 0;
	}

	.main-news__items._box-items .main-news__item + .main-news__item 
	{
		margin-top: 20px;
	}

	.main-news__item
	{
		border-bottom: none;
		padding-bottom: 9px;
	}

	.main-news__item-date
	{
		font-size: 11px;
	}

	.main-news__item-name
	{
		font-size: 14px;
		margin-top: 10px;
	}

	.main-news__item-desc
	{
		font-size: 11px;

		max-height: 42px;
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
	}

	.main-news__item-link
	{
		font-size: 11px;
	}

	.main-news__item-link a
	{
		line-height: 19px;
		padding-left: 9px;
		padding-right: 9px;
	}


	.main-about__top-coll
	{
		width: calc(37% - 10px);
	}

	.main-about__top-colr 
	{
		width: calc(63% - 10px);
		max-width: 380px;
		margin-left: 20px;
		margin-right: auto;
	}

	.main-about__title
	{
		font-size: 16px;
	}

	.main-about__desc
	{
		margin-top: 12px;
	}

	.main-about__btn
	{
		margin-top: 16px;
	}

	.main-about__cols 
	{
		margin-top: 12px;
	}

	.main-about__coll,
	.main-about__colr
	{
		width: calc(50% - 7.5px);
	}

	.main-about__video-box
	{
		border-radius: 5px;
	}

	.main-about__bg
	{
		border-radius: 5px;
		padding: 20px;
	}

	.main-about__val 
	{
		font-size: 24px;
	}

	.main-about__item + .main-about__item 
	{
		margin-top: 13px;
		padding-top: 13px;
	}

	.videos__video-play
	{
		width: 65px;
		height: 65px;
	}

	.videos__video-play::after 
	{
		border: 6px solid transparent;
		border-left: 11px solid #fff;
		margin-left: 5px;
	}

	.videos__video-info
	{
		margin-top: 10px;
		font-size: 12px;
	}

	.certs__slider .slider-button-prev, 
	.certs__slider .slider-button-next
	{
		display: none;
	}

	.certs__slider .slider-pagination 
	{
		display: flex;
	}

	.certs__item
	{
		border-radius: 5px;
	}

	.certs__img 
	{
		width: 31%;
	}

	.certs__img::after
	{
		opacity: 1;
		width: 25px;
		height: 25px;

		background-size: 16px;
		background-position: calc(50% + 1px) 50%;

		margin-top: -12.5px;
		margin-left: -12.5px;
	}

	.certs__info 
	{
		width: calc(69% - 10px);
	}

	.certs__name 
	{
		font-size: 16px;
	}

	.certs__download 
	{
		margin-top: 30px;
	}


	.reviews__slider 
	{
		margin-top: 20px;
	}

	.reviews__slider .slider-button-prev, 
	.reviews__slider .slider-button-next
	{
		display: none;
	}

	.reviews__slider .slider-pagination
	{
		display: flex;
	}

	.reviews__item
	{
		border-radius: 5px;
	}
	
	.reviews__logo 
	{
		width: 65px;
	}

	.reviews__info 
	{
		width: calc(100% - 85px);
		max-width: 100%;
		margin-left: 20px;
	}

	.reviews__buy-product 
	{
		max-height: 37px;
		-webkit-line-clamp: 2;
	}

	.reviews__name
	{
		margin-top: 11px;
	}

	.reviews__btn 
	{
		margin-top: 15px;
	}


	.brands__slider .slider-button-prev, 
	.brands__slider .slider-button-next
	{
		display: none;
	}

	.brands__slider .slider-pagination
	{
		display: flex;
	}

	.brands__item
	{
		width: 248px;
		aspect-ratio: 1 / .6;
	}

	.brands__img 
	{
		height: 31px;
	}


	.cooperation__bg
	{
		border-radius: 5px;
		padding: 30px 30px 23px;
	}

	.cooperation__item
	{
		display: block;
	}

	.cooperation__info
	{
		width: 100%;

		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		align-content: flex-end;
		flex-wrap: nowrap;
	}

	.cooperation__btn
	{
		margin-left: 20px;
		flex-shrink: 0;
	}

	.cooperation__title
	{
		font-size: 24px;
	}

	.cooperation__desc
	{
		margin-top: 12px;
		max-width: 360px;
	}

	.cooperation__btn .btn-border
	{
		padding-left: 15px;
		padding-right: 15px;
	}

	.cooperation__wrap-box
	{
		width: 100%;
		padding-top: 0;
	}

	.cooperation__items
	{
		max-width: 483px;
		margin-top: 13px;
	}

	.cooperation__item-box 
	{
		width: calc(100% / 2 - 25px);
		font-size: 16px;
		margin-top: 30px;
		padding-top: 12px;
	}

	.cooperation__item-box::after
	{
		width: 100%;
	}


	.cooperation__wrap
	{
		margin-top: 37px;
	}

	.cooperation-thumbs__item
	{
		padding-top: 30px;
	}


	.main-form 
	{
		padding-top: 30px;
		padding-bottom: 40px;
	}

	.form__flex .form__line 
	{
		width: 100%;
	}

	.form__line,
	.form__line.form__line_marg
	{
		margin-bottom: 10px;
	}

	.form__input
	{
		font-size: 12px;
	}

	.main-form__form.form .form__input
	{
		padding-left: 15px;
		padding-right: 15px;
		border-radius: 4px;
		background: #ECEEF1;
		border: 1px solid rgba(177, 177, 177, .5);
	}

	.main-form__form.form .form__textarea
	{
		padding-left: 15px;
		padding-top: 15px;
		border-radius: 4px;
		background: #ECEEF1;
		border: 1px solid rgba(177, 177, 177, .5);
		height: 109px;
	}

	.form__submit 
	{
		margin-top: 24px;
	}

	.form__submit-btn 
	{
		min-width: 1px;
	}


	.footer
	{
		padding-bottom: 65px;
	}

	.footer__coll 
	{
		width: 208px;
	}

	.footer__coll_marg 
	{
		margin-top: 20px;
	}

	.footer__logo
	{
		max-width: 190px;
	}

	.footer__phone
	{
		font-size: 12px;
	}

	.footer__contacts-desc
	{
		font-size: 12px;
		margin-top: 5px;
	}

	.footer__email
	{
		font-size: 14px;
		margin-top: 10px;
	}


	.footer__subscribe 
	{
		margin-top: 30px;
	}

	.footer__subscribe-desc
	{
		font-size: 12px;
	}

	.footer__subscribe-btn 
	{
		margin-top: 7px;
	}

	.footer__rating 
	{
		margin-top: 30px;
	}

	.footer__colr 
	{
		width: calc(100% - 268px);
	}

	.footer-menu__flex 
	{
		margin-top: -24px;
		margin-left: -19px;
	}

	.footer-menu__col
	{
		width: calc(100% / 3 - 19px);
		margin-top: 24px;
		margin-left: 19px;
	}

	.footer-menu__title 
	{
		font-size: 14px;
	}

	.footer-menu__item
	{
		margin-top: 10px;
	}

	.footer-menu__link-more 
	{
		margin-top: 10px;
	}

	.footer__socials-title
	{
		font-size: 12px;
	}

	.footer__info
	{
		margin-top: 20px;
	}

	.footer__info-desc + .footer__info-desc
	{
		margin-top: 15px;
	}

	.footer__copy
	{
		margin-bottom: 20px;
	}
}