@media (max-width: 1699px)
{
    .cont{
        max-width: 1480px;
    }

	.header__adres{
        font-size: 16px;
        margin-right: 28px;
    }

    .header__iso{
        margin-right: 30px;
    }


    .header__list{
        gap: 20px;
    }

    .header__list-item{
        font-size: 16px;
    }


    .header__contacts{
        gap: 20px;
    }

    .header__phone{
        font-size: 16px;
    }

    .header__mail{
        font-size: 14px;
    }

    .header__messengers{
        margin-left: 20px;
    }


    .header__logo{
        margin-right: 0;
    }

    .header__logo img{
        max-width: 218px;
    }


    .header__search .header__search-input{
        font-size: 14px;
    }

    .header__btns{
        gap: 25px;
    }


    .header-catalog__block{
        height: calc(100vh - 129px);
    }

    .header-submenu{
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100% - 460px);
    }

    .header-submenu__flex{
        gap: 40px 20px;
    }

    .header-submenu__col{
        width: calc(50% - 10px);
    }

    .header__cats-link{
        font-size: 16px;
        line-height: 53px;
    }

	.header__small .header__info{
		width: 512px;
	}


	.page-text__wrap-top{
		grid-column: span 2;
	}

	.page-text__wrap-top .page-text__box{
		max-width: none;
	}

	.page-text__box{
		max-width: 927px;
	}

	.page-text__page-title{
		max-width: 1145px;
	}

	.page-title{
		font-size: 40px;
	}

	.page-text__colr{
		order: 1;
		padding-top: 0;
		grid-row: span 2;
	}

	.page-text__coll{
		order: 3;
	}

	.small-product{
		padding-left: 17px;
		padding-right: 17px;
	}

	.article-cats__col{
		padding: 25px;
		font-size: 20px;
	}

	.article-cats__thumb{
		max-width: 191px;
	}

	.article-cats__name{
		margin-top: 32px;
	}

	.text-block h2{
		font-size: 40px;
	}

	.text-block h3{
		font-size: 24px;
		margin-bottom: 16px;
	}

	.text-block * + blockquote{
		margin-top: 20px;
	}

	.text-block blockquote{
		margin-bottom: 20px;
		padding: 18px 19px;
	}

	.text-block * + table{
		margin-top: 20px;
	}

	.text-block table th{
		padding-left: 14px;
		padding-right: 14px;
	}

	.text-block table td{
		padding-left: 14px;
		padding-right: 14px;
	}

	.text-block__coll {
		width: 23.2%;
	}

	.section-subscribe__colr{
		width: 46%;
		margin-left: -6%;
		margin-right: -60px;
	}

	.small-products__slider_marg{
		margin-top: 20px;
	}


	.inner-news__slider{
		margin-top: 20px;
	}


	.compare-fixed{
		padding: 22px 0;
	}

	.compare-product__thumb{
		width: 72px;
	}

	.compare-product__prices{
		width: 100%;
	}

	.brands__slider .slider-button-next,
	.cats-page__slider .slider-button-next{
		margin-right: -700px;
	}
	.brands__slider .slider-button-prev,
	.cats-page__slider .slider-button-prev
	{
		margin-left: -700px;
	}


	.page-brands__links {
		gap: 20px 33px;
	}

	.cats-page__slider .cats-page__item{
		aspect-ratio: 1/.605;
	}

	.cats-page__slider .cats-page__img{
		max-width: 106px;
	}


	.small-title{
		font-size: 20px;
	}

	.stocks__grid{
		margin-top: 20px;
		row-gap: 40px;
	}

	.stocks__item-info{
		right: 15px;
	}


	.page-error{
		padding-top: 55px;
		padding-bottom: 0;
	}


	.big-sorting_marg{
		margin-top: 20px;
	}

	.page-text__heade{
		flex-wrap: wrap;
		margin-bottom: 20px;
	}

	.page-text__heade-btns{
		width: 100%;
	}

	.main-form__colr {
		width: 50%;
		max-width: 690px;
	}

	.delivery__partners-grid {
		grid-template-columns: 1fr 1fr;
	}

	.text-block * + h4{
		margin-top: 30px;
	}


	.imp-info__line{
		gap: 40px;
	}

	.imp-info__line + .imp-info__line{
		margin-top: 20px;
	}

	.imp-info ul li + li{
		margin-top: 20px;
	}
	
	.imp-info__colr{
		width: 21.33%;
	}

	.imp-info__subtitle{
		max-width: 600px;
	}


	.info-delete{
		margin-bottom: 50px;
	}


	.empty-section{
		padding-bottom: 50px;
	}

	.empty-section__flex{
		gap: 20px;
	}

	.empty-section__img{
		width: 208px;
	}


	.page-cart__colr{
		width: 28.5%;
	}

	.page-cart{
		padding-bottom: 40px;
	}

	.page-cart_checkout{
		padding-bottom: 100px;
	}

	.pade-checkout__radio._grid {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.select-city__wrap{
		width: 100%;
	}

	.delivery-info__title{
		margin-bottom: 20px;
	}

	.adres-mini{
		margin-left: -700px;
	}

	.text-spoller{
		margin-top: 20px;
	}

	.stocks__slider{
		margin-top: 20px;
	}

	.content__flex_marg{
		margin-top: 24px;
	}

	.aside-list__item{
		font-size: 12px;
	}


	.about-brand__item{
		padding-top: 24px;
		padding-bottom: 24px;
	}

	.about-brand__text{
		margin-top: 26px;
	}

	.about-brand__text br{
		display: inline;
	}


	.gallery__grid {
		grid-template-columns: repeat(6, 1fr);
		margin-top: 20px;
	}

	.gallery__item:first-child {
		grid-column: span 4;
	}

	.section-socials__colr{
		max-width: 409px;
	}
	

	.vacancie__pad{
		padding: 29px 36px 32px 23px;
	}

	.vacancie__desc{
		margin-top: 12px;
	}

	.vacancie__price{
		padding-top: 32px;
	}

	.vacancie__bot{
		padding: 23px;
	}
	
	.vacancie__link{
		gap: 16px;
	}
	
	.vacancie__link-icon{
		width: 23px;
	}


	.in-numbersq__items{
		width: 34%;
	}

	.in-numbersq__items:first-child{
		width: 36%;
	}
	
	.in-numbersq__items:last-child{
		padding-right: 0;
		justify-content: flex-end;
		border-right: none;

		width: 30%;
	}

	.in-numbersq__items:last-child .in-numbersq__items-wrap{
		min-width: 1px;
	}


	.about-info__bg{
		margin-left: -1000px;
	}


	.produce-own__slider{
		margin-top: 20px;
	}

	.produce-own__item{
		padding: 40px;
	}

	.produce-own__item-box._flex .produce-own__img {
		width: calc(45.41% - 20px);
	}

	.presence-card .map {
		width: calc(100% + (100vw - 1400px - var(--scroll_width)) / 2);
		margin-right: calc(((100vw - 1400px - var(--scroll_width)) / 2) * -1);
	}

	.presence-card__coll {
		width: 39.15%;
	}

	.presence-card__colr {
		width: 60.85%;
	}

	.benefit-client__item{
		padding-top: 32px;
		padding-bottom: 29px;
	}

	.benefit-client__item-icon{
		max-width: 63px;
		margin-bottom: 28px;
	}

	.benefit-client__item-desc br{
		display: inline;
	}

	.benefit-client__slider .swiper-slide{
		padding: 32px 0 32px 32px;
	}

	.benefit-client__icon{
		max-width: 63px;
	}

	.benefit-client__desc{
		margin-top: 10px;
	}

	.benefit-client__slider .slider-button-prev{
		bottom: 32px;
		left: 140%;
		width: 28px;
		height: 28px;
	}

	.benefit-client__slider .slider-button-next {
		bottom: 32px;
		left: calc(140% + 43px);
		width: 28px;
		height: 28px;
	}

	.benefit-client__flex{
		margin-top: 20px;
	}
	/* commit */

	.advantages-main__info
	{
		padding-top: 21px;
		padding-bottom: 21px;
		width: 64%;
	}

	.advantages-main__img 
	{
        width: 36%;
    }

	.advantages-main__title
	{
		font-size: 16px;
	}

	.advantages-main__title br
	{
		display: none;
	}

	.advantages-main__desc
	{
		font-size: 14px;
	}



	.main-title
	{
		font-size: 40px;
	}


	.cats-main__item
	{
		padding: 20px 15px;
	}

	.cats-main__img
	{
		height: 109px;
	}

	.cats-main__name
	{
		margin-top: 20px;
	}


	.services__slider 
	{
		margin-top: 20px;
	}

	.services__item
	{
		padding: 20px;
	}

	.services__name
	{
		font-size: 20px;
		width: 100%;
	}


	.areas-activity__grid 
	{
		margin-top: 0;
	}

	.areas-activity__item
	{
		padding-top: 26px;
		padding-bottom: 26px;
		min-height: 219px;
	}

	.areas-activity__title
	{
		font-size: 20px;
	}



	.comp-projects__title
	{
		font-size: 40px;
	}

	.comp-projects__info
	{
		padding-top: 50px;
		padding-left: 50px;
		padding-right: 50px;
	}

	.comp-projects__desc,
	.comp-projects__link
	{
		margin-top: 26px;
	}

	.slider-pagination.slider-pagination_number
	{
		bottom: 54px;
		left: 85px;
	}

	.slider-button-prev._bot-number
	{
		left: 50px;
		bottom: 50px;
	}

	.slider-button-next._bot-number 
	{
		left: 145px;
		bottom: 50px;
	}


	.tabs-text__btn._active
	{
		font-size: 40px;
	}

	.tabs-text__btn
	{
		font-size: 20px;
	}

	.tabs-text__btn + .tabs-text__btn 
	{
		margin-left: 21px;
	}


	.main-news__cols
	{
		margin-top: 20px;
	}


	.main-news__wrap
	{
		max-width: 568px;
	}

	.main-news__coll 
	{
		width: calc(50% - 10px);
	}

	.main-news__info
	{
		max-width: 100%;
		padding-bottom: 18px;
	}

	.main-news__info-desc
	{
		font-size: 18px;
		max-width: 544px;
	}

	.main-news__info-link 
	{
		margin-top: 12px;
	}

	.main-news__colr 
	{
		width: calc(50% - 10px);
	}


	.main-about__cols
	{
		margin-top: 30px;
	}

	.main-about__coll,
	.main-about__top-coll
	{
		width: calc(50% - 10px);
	}

	.main-about__colr,
	.main-about__top-colr
	{
		width: calc(50% - 10px);
	}

	.main-about__desc
	{
		margin-top: 21px;
	}

	.main-about__btn 
	{
		margin-top: 16px;
	}


	.main-about__bg
	{
		padding: 40px 40px 45px;
	}

	.main-about__val
	{
		font-size: 40px;
	}

	.main-about__item-desc 
	{
		margin-top: 11px;
	}

	.main-about__item + .main-about__item
	{
		margin-top: 39px;
	}


	.certs_marg 
	{
		margin-top: 40px;
	}

	.certs__item
	{
		padding: 20px;
	}

	.certs__img
	{
		width: 30.64%;
	}

	.certs__info 
	{
		width: calc(69.36% - 10px);
	}

	.certs__name
	{
		font-size: 16px;
	}

	.certs__desc
	{
		font-size: 12px;
		margin-top: 11px;
	}

	.certs__download
	{
		font-size: 14px;
		margin-top: 29px;
	}

	.certs__download-link
	{
		padding-right: 24px;
	}

	.certs__download-link svg
	{
		width: 13px;
		height: 13px;
		top: 1px;
	}


	.reviews__item
	{
		padding: 20px;
	}

	.reviews__logo
	{
		width: 95px;
	}

	.reviews__buy-product
	{
		margin-top: 10px;
		max-height: 62px;
		-webkit-line-clamp: 3;
	}

	.reviews__name
	{
		margin-top: 17px;
	}

	.reviews__btn
	{
		margin-top: 24px;
		padding-left: 0;
	}

	.reviews__btn .btn-border
	{
		font-size: 12px;
		line-height: 33px;
	}


	.brands__slider 
	{
		margin-top: 18px;
	}

	.brands__slider_marg{
		margin-top: 24px;
	}

	.brands__item
	{
		aspect-ratio: 1 / .605;
	}

	.brands__img
	{
		height: 50px;
	}


	.cooperation__bg
	{
		margin-top: 35px;
		padding-top: 74px;
	}

	.cooperation__info 
	{
		width: calc(49.6% - 15px);
	}

	.cooperation__wrap-box 
	{
		width: calc(50.4% - 15px);
		padding-top: 62px;
	}

	.cooperation__title
	{
		font-size: 40px;
	}

	.cooperation__desc
	{
		margin-top: 27px;
	}

	.cooperation__btn 
	{
		margin-top: 28px;
	}


	.main-form
	{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.main-form__form 
	{
		margin-top: 30px;
	}


	.first-section__col:first-child
	{
		padding: 50px 50px 45px;
	}

	.info-slider__title
	{
		font-size: 48px;
	}

	.info-slider__desc
	{
		font-size: 16px;
		margin-top: 24px;
	}

	.info-slider__link
	{
		margin-top: 32px;
	}


	.main-slider__item
	{
		padding: 54px;
	}

	.main-thumbs__item-link
	{
		padding: 25px 6px 11px;
	}

	.main-thumbs__img
	{
		height: 75px;
		width: 75px;
	}


	.articles__item._item_big
	{
		padding: 40px;
	}

	.inner-news__time
	{
		top: 20px;
		right: 22px;
	}

	.inner-news__desc
	{
		max-height: 63px;
		-webkit-line-clamp: 3;
	}

	.inner-news__grid
	{
		margin-top: -40px;
	}

	.inner-news__grid .inner-news__item
	{
		margin-top: 40px;
	}

	.inner-news__item.inner-news__subscribe
	{
		padding: 32px 40px;
	}

	.inner-news__subscribe-title
	{
		font-size: 20px;
	}

	.inner-news__subscribe-box
	{
		max-width: 400px;
	}

	.inner-news__more 
	{
		margin-top: 40px;
	}


	.pagination
	{
		margin-top: 20px;
	}

	.pagination a
	{
		margin-left: 12px;
	}


	.cats-page__item
	{
		padding-bottom: 34px;
	}

	.cats-page__img
	{
		max-width: 126px;
	}

	.cats-page__name
	{
		font-size: 16px;
	}

	.cats-page__val
	{
		font-size: 14px;
	}


	.contacts-info__cols
	{
		margin-left: 0;
		margin-top: 46px;
		justify-content: space-between;
	}

	.contacts-info__coll 
	{
		width: calc(45.15% - 10px);
		margin-top: 0;
		margin-left: 0;
	}

	.contacts-info__support-info 
	{
		width: calc(40% - 15px);
	}

	.contacts-info__support-links 
	{
		width: calc(60% - 15px);
	}

	.contacts-info__colc 
	{
		width: calc(54.85% - 10px);
		margin-top: 0;
		margin-left: 0;
	}

	.contacts-info__colr
	{
		width: 100%;
		border: 1px solid #DEE2E6;
		border-radius: 10px;
		padding: 60px 30px;
		margin-left: 0;
	}

	.qrcod-wrap
	{
		max-width: 806px;
		width: 100%;
		margin: 0 auto;
	}


	.contacts-maps
	{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.contacts-maps__coll 
	{
		width: calc(25.72% - 25px);
	}

	.contacts-maps__colr 
	{
		width: calc(74.28% - 25px);
		max-width: 100%;
	}

	.contacts-maps__items
	{
		margin-left: -36px;
	}

	.contacts-maps__item
	{
		margin-left: 36px;
	}


	.aside-filter 
	{
		width: 262px;
	}

	.content__center 
	{
		width: calc(100% - 282px);
	}


	.products__grid
	{
		margin-left: -16px;
	}

	.products__grid .product
	{
		width: calc(100% / var(--products_count) - 16px);
		margin-left: 16px;
	}

	.product__thumb
	{
		padding-bottom: 22px;
	}

	.product__logo
	{
		margin-top: 12px;
	}

	.product__name
	{
		margin-top: 11px;
	}

	.product__review-number
	{
		font-size: 12px;
	}

	.product__review-star
	{
		margin-top: 1px;
	}

	.product__review-size
	{
		margin-left: 6px;
	}

	.product__desc-items
	{
		margin-top: 0;
	}

	.product__desc-item + .product__desc-item 
	{
		margin-top: 3px;
	}

	.product__prices
	{
		margin-top: 0;
	}

	.product-big .banner-info__box
	{
		padding-top: 30px;
		padding-bottom: 30px;

		max-width: 650px;
	}

	.product-big .banner-info__desc,
	.product-big .banner-info__btn
	{
		margin-top: 25px;
	}

	.product-big .banner-info__img 
	{
		width: 470px;
	}


	.banner-info__box-w
	{
		max-width: 840px;
	}


	.often-search__title
	{
		font-size: 20px;
	}

	.often-search__items 
	{
		margin-top: 20px;
	}

	.often-search__tag-name
	{
		font-size: 16px;
	}


	.review-products__item
	{
		padding: 20px;
	}

	.review-products__rating
	{
		padding-left: 14px;
	}

	.review-products__rating::before
	{
		width: 12px;
		height: 12px;
		margin-top: -9px;
	}
		
	.review-products__img
	{
		height: 97px;
		width: 97px;
	}

	.review-products__info 
	{
		width: calc(100% - 117px);
		max-width: 330px;
	}

	.review-products__desc
	{
		-webkit-line-clamp: 6;
		max-height: 140px;
	}


	.products__list-data
	{
		padding-right: 30px;
	}

	.products__list .product__review-star 
	{
		margin-top: 2px;
	}

	.products__list .product__review-number
	{
		font-size: 14px;
	}


	.product-info__images 
	{
		width: calc(33% - 9px);
	}

	.product-images__slider .swiper-slide
	{
		border: 1px solid rgba(0, 0, 0, .09);
		border-radius: 10px;
	}

	.product-images__img
	{
		aspect-ratio: 1 / .879;
		padding: 45px;
	}

	.product-info__info-flex 
	{
		width: calc(67% - 10px);
	}

	.product-info__item 
	{
		margin-top: 30px;
	}

	.product-info__desc 
	{
		max-height: 94px;
		-webkit-line-clamp: 4;
	}

	.product-info__more
	{
		margin-top: 10px;
	}


	.product-info__coll 
	{
		width: calc(100% - 449px);
	}

	.product-info__feature .features__feature-name 
	{
		width: 344px;
	}

	.product-info__colr 
	{
		width: 409px;
	}


	.product-info__set
	{
		padding: 9px 14px;
	}

	.product-info__set svg
	{
		display: none;
	}


	.product-info__total
	{
		padding: 15px 20px 35px;
	}


	.informations__coll 
	{
		width: calc(60% - 15px);
		max-width: 726px;
	}

	.informations__colr 
	{
		width: calc(40% - 15px);
	}

	.reviews-inner__cols
	{
		margin-top: 23px;
	}

	.reviews-inner__coll
	{
		max-width: 813px;
	}

	.reviews-inner__colr
	{
		margin-right: 0;
	}

	.service-sect__link
	{
		margin-top: 15px;
	}


	.footer
	{
		padding-top: 44px;
		padding-bottom: 44px;
	}

	.footer__coll 
	{
		width: 256px;
	}

	.footer__logo
	{
		max-width: 217px;
	}

	.footer__coll_marg 
	{
		margin-top: 39px;
	}

	.footer__subscribe-btn .btn-border 
	{
		padding-left: 15px;
		padding-right: 15px;

		width: 100%;
	}

	.footer__colr 
	{
		width: calc(100% - 329px);
		padding-top: 4;
	}

	.footer__blocks 
	{
		padding-right: 10px;
	}

	.footer-menu__col-big
	{
		margin-top: 60px;
	}

	.footer__info-desc
	{
		max-width: 1230px;
	}

	.footer__info-desc + .footer__info-desc
	{
		margin-top: 20px;
	}


	.footer__links 
	{
		margin-left: 40px;
	}

	.footer__links-link + .footer__links-link 
	{
		margin-left: 40px;
	}

	.footer.footer_small .footer__bot
	{
		font-size: 12px;
	}
}