@media (max-width: 1319px)
{
    .cont {
        max-width: 1240px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .header__iso{
        margin-right: 20px;
    }
    
	.header__btns{
        padding-left: 5px;
    }

    .header-catalog__wrap{
        padding-top: 20px;
    }

    .header-submenu {
        width: calc(100% - 395px);
        padding-left: 20px;
    }


    .header__list-submenu{
        width: 200px;
    }

    .header__list-submenu div{
        font-size: 12px;
    }

    .header__small .header__info {
        width: 500px;
    }

    
    .compare-section__top{
        gap: 16px;
    }

    .compare-section__top-left {
        width: calc(25% - 16px);
    }

    .compare-products {
        width: 75%;
    }

    .compare-fixed__flex{
        gap: 16px;
    }

    .compare-fixed__coll {
        width: calc(25% - 16px);
    }

    .compare-fixed__products{
        width: 75%;
    }

    .compare-feature__flex{
        gap: 16px;
    }

    .compare-feature__coll{
        width: calc(25% - 16px);
    }

    .compare-section__slider{
        width: 75%;
    }

    .compare-feature__title{
        font-size: 14px;
        padding: 19px 0;
        width: calc((100% + 16px) * 4);
    }
    
    .compare-feature__item{
        padding: 19px 0;
    }

    .compare-feature__item::before{
        width: 16px;
    }

    .brands__slider .slider-button-next,
.cats-page__slider .slider-button-next{
        right: 20px;
		margin-right: 0;
	}
	.brands__slider .slider-button-prev,
.cats-page__slider .slider-button-prev
	{
        left: 20px;
		margin-left: 0;
	}

    .page-brands__links {
        gap: 16px 20px;
    }

    .cats-page__slider .cats-page__img{
        max-width: 62px;
    }

    .cats-page__slider .cats-page__name{
        margin-top: 16px;
    }

    .page-brands__items_marg{
        margin-top: 30px;
    }

    .page-brands__item{
        width: 150px;
    }


    .vacancie__link{
        font-size: 12px;
    }
	/* commit */


	.product__box
	{
		flex-wrap: wrap;
	}

	.product__copy
	{
		width: 100%;
		margin-left: 0;
		margin-top: 5px;
	}

	.cats-page__item
	{
		padding-top: 24px;
	}


	.review-products__item
	{
		padding: 20px;
	}

	.products__grid
	{
		--products_count: 3;
	}


	.products__list .product__wrap
	{
		padding-left: 30px;
	}

	.products__list .stikers 
	{
		left: 30px;
	}

	.products__list .product__btns 
	{
		right: 30px;
	}

	.products__list-info 
	{
		width: calc(100% - 260px);
	}

	.products__list-buy
	{
		width: 230px;
	}

	.products__list .product__price-old
	{
		width: 100%;
		margin-top: 5px;
	}


	.products__list .product__bot-flex
	{
		gap: 10px;
	}


	.footer__colr 
	{
		width: calc(100% - 290px);
	}

	.footer-menu._flex 
	{
		margin-left: 50px;
	}
}