@media (max-width: 1499px)
{
    .cont {
        max-width: 1280px;
    }

	.header__adres{
        font-size: 12px;
        margin-right: 20px;
    }

    .header__adres-btn{
        padding-left: 19px;
    }

    .header__adres-marker{
        width: 12px;
        height: 16px;
        margin-top: -8px;
    }

    .header__iso-link{
        font-size: 12px;
        gap: 9px;
    }


    .header__list{
        gap: 15px;
    }

    .header__list-item {
        font-size: 14px;
    }

    .header__contacts{
        gap: 15px;
    }

    .header__phone{
        font-size: 14px;
    }

    .header__mail{
        font-size: 12px;
    }

    .header__messengers{
        margin-left: 15px;
    }


    .header__info-wrap{
        padding: 15px 0 13px;
    }

    .header__info .cont{
        gap: 10px;
    }

    .header__logo{
        margin-right: 10px;
    }

    .header__logo img{
        max-width: 192px;
    }

    .header-catalog__open{
        font-size: 12px;
        padding: 0 10px 0 36px;
    }

    .header-catalog__open-burger{
        width: 16px;
        left: 11px;
    }

    .header__search{
        max-width: 422px;
    }

    .mini-modal__select{
        width: 72px;
        margin-right: 8px;
    }

    .mini-modal__btn-select{
        font-size: 12px;
        padding-left: 14px;
    }

    .header__search-field{
        width: calc(100% - 80px);
    }

    .header__search .header__search-input{
        font-size: 12px;
    }

    .header__btns{
        gap: 15px;
        padding-left: 30px;
    }

    .header__btn{
        font-size: 14px;
        padding: 0 5px;
    }

    .header__cats-link{
        font-size: 14px;
        line-height: 39px;
    }


    .header-catalog__wrap::before {
        right: calc(100% - 405px);
    }

    .header-menu{
        width: 395px;
        padding-right: 13px;
    }

    .header-menu__link{
        font-size: 14px;
    }

    .header-submenu {
        left: 405px;
        width: calc(100% - 365px);
        padding-left: 30px;
    }

    .header-submenu__title{
        font-size: 20px;
    }

    .header-submenu__flex{
        margin-top: 0;
        gap: 20px 32px;
    }

    .header-submenu__col{
        width: calc(50% - 16px);
    }

    .header-submenu__item{
        margin-top: 20px;
    }

    .header-submenu__link{
        font-size: 14px;
    }

    .header-submenu__link._sub{
        padding-left: 25px;
    }

    .header-submenu__sub-item{
        margin-top: 10px;
        font-size: 12px;
    }

    .header-submenu__link._sub::before{
        top: 1.5px;
    }

    .header-catalog__block {
        height: calc(100vh - 119px);
    }

	.header__small .header__info {
		width: 590px;
	}

	.header__small .header__list{
		gap: 20px;
	}


	.page-text__box{
		max-width: 793px;
	}

	.small-product{
		padding: 25px 10px 10px;
	}

	.small-product__thumb{
		padding-bottom: 26px;
	}

	.small-product__img{
		max-width: 145px;
	}

	.small-product__name{
		font-size: 14px;
	}

	.small-product__btn{
		line-height: 32px;
		margin-top: 16px;
	}

	.text-block h2{
		font-size: 36px;
		margin-bottom: 16px;
	}

	.text-block h3{
		font-size: 20px;
	}

	.text-block blockquote{
		border-width: 1px;
		padding-top: 14px;
		padding-bottom: 14px;
	}

	.text-block__coll {
		width: 215px;
	}


	.banner-info__img{
		width: 693px;
	}

	.banner-info__box{
		padding: 36px 0 40px;
	}

	.banner-info__desc{
		margin-top: 16px;
	}

	.banner-info__btn{
		margin-top: 24px;
	}

	.banner-info__imp{
		margin-top: 55px;
		max-width: 357px;
		font-size: 12px;
		padding-left: 23px;
	}

	.banner-info__imp::before{
		width: 18px;
		height: 18px;
	}


	.other-articles__item{
		padding-top: 28px;
		padding-bottom: 28px;
	}

	.other-articles__item-flex{
		gap: 15px;
	}

	.other-articles__img{
		width: 75px;
	}

	.other-articles__name{
		font-size: 16px;
	}


	.section-subscribe{
		padding: 40px 0;
	}

	.section-subscribe._bot{
		margin-bottom: -70px;
	}

	.section-subscribe__cols{
		gap: 32px;
	}

	.section-subscribe__coll{
		width: 610px;
	}

	.form_subscribe{
		margin-top: 24px;
	}

	.form_subscribe .form__agree_marg{
		margin-bottom: 8px;
	}

	.page-socials{
		margin-top: 40px;
	}

	.page-socials__flex{
		margin-top: 10px;
	}

	.section-subscribe__colr{
		width: 50%;
		margin-left: 0;
		margin-right: -13px;
	}


	.page-text__list{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.page-text__list-item + .page-text__list-item{
		margin-top: 15px;
	}

	.page-text__list-link{
		padding-top: 0;
		padding-bottom: 0;
		font-size: 14px;
	}

	.page-text__wrap{
		margin-top: 18px;
	}

	.form-subscribe .form-subscribe__input{
		font-size: 14px;
	}


	.tabs-container_marg{
		margin-top: 20px;
	}

	.compare-product__flex{
		gap: 10px;
	}

	.compare-product__thumb {
		width: 70px;
	}

	.compare-product__bot{
		gap: 15px;
	}

	.compare-feature__title{
		font-size: 16px;
	}

	.clear-btn{
		font-size: 12px;
		padding-left: 23px;
	}

	.compare-section__checkbox-slider,
	.compare-fixed__checkbox-slider{
		max-width: 181px;
	}

	.compare-section__checkbox-slider .checkbox-slider__text,
	.compare-fixed__checkbox-slider .checkbox-slider__text{
		font-size: 14px;
		padding-right: 53px;
	}

	.brands__slider .slider-button-next,
.cats-page__slider .slider-button-next{
		margin-right: -600px;
	}
	.brands__slider .slider-button-prev,
.cats-page__slider .slider-button-prev
	{
		margin-left: -600px;
	}


	.page-brands__links {
		gap: 20px 31px;
	}

	.page-brands__link{
		font-size: 16px;
	}

	.brands_marg{
		margin-top: 40px;
	}

	.cats-page_marg{
		margin-top: 40px;
	}

	.cats-page__slider_marg{
		margin-top: 20px;
	}

	.brands__slider_marg{
		margin-top: 20px;
	}

	.cats-page__slider .cats-page__item{
		padding-top: 23px;
		padding-bottom: 23px;
	}

	.cats-page__slider .cats-page__name{
		margin-top: 20px;
	}

	.cats-page__slider .cats-page__img{
		max-width: 86px;
	}

	.page-brands__links_marg{
		margin-top: 30px;
	}

	.search_marg{
		margin-top: 20px;
	}

	.page-brands__items_marg{
		margin-top: 35px;
	}

	.page-brands__letter{
		font-size: 20px;
		margin-bottom: 10px;
	}

	.search .search__input{
		font-size: 14px;
	}


	.stocks__item-date{
		margin-top: 10px;
	}
	
	.stocks__item-name{
		font-size: 16px;
	}

	.stocks__item-info{
		font-size: 12px;
		line-height: 17px;
		padding-left: 18px;
		padding-right: 4px;
	}

	.stocks__item-info::before{
		width: 10px;
		height: 10px;
		margin-top: -5px;
		left: 4px;
		background-size: contain;
	}


	.page-error{
		padding-top: 100px;
		padding-bottom: 30px;
	}

	.page-erro__img img{
		max-width: 296px;
	}

	.page-error .page-title{
		margin-top: 10px;
	}

	.page-error__btns{
		margin-top: 32px;
	}

	.big-sorting__open{
		line-height: 36px;
	}

	.big-sorting__modal{
		min-width: 222px;
		padding: 10px 10px 14px;
	}

	.big-sorting__data-wrap{
		width: calc(100% + 20px);
		margin-left: -10px;
		margin-right: -10px;
		padding-left: 10px;
		padding-right: 10px;
		max-height: 290px;
	}

	.big-sorting__modal .search{
		margin-bottom: 10px;
	}

	.big-sorting__data-bot{
		margin-top: 16px;
	}

	.big-sorting .checkbox__text{
		font-size: 12px;
		line-height: 1.3;
		padding-left: 21px;
	}

	.big-sorting .checkbox__text::before{
		width: 15px;
		height: 15px;
	}

	.big-sorting .checkbox__text::after{
		width: 15px;
		height: 15px;
		background-size: 10px auto;
	}

	.big-sorting .checkbox__label{
		min-height: 15px;
	}


	.faq__accordion-open{
		padding-top: 19px;
		padding-bottom: 19px;

		font-size: 16px;
	}

	.faq__accordion-data{
		padding-bottom: 19px;
	}


	.main-form__flex{
		margin-top: 20px;
	}

	.main-form__coll{
		width: calc(44% - 20px);
		max-width: 437px;
	}

	.main-form__items{
		margin-top: 50px;
	}

	.main-form__item{
		padding-top: 9px;
		padding-bottom: 9px;
	}

	.main-form__colr{
		width: 56%;
	}


	.section-top + ._marg{
		margin-top: 30px;
	}

	.delivery__text-block{
		margin-top: 16px;
		max-width: 997px;
	}

	.delivery__partners{
		margin-top: 25px;
	}

	.delivery__partners-grid{
		margin-top: 16px;
	}

	.delivery__partner{
		padding: 15px;
		gap: 16px;
	}

	.delivery__partner-icon{
		width: 150px;
		height: 70px;
		padding: 8px;
	}

	.delivery__partner-name{
		font-size: 16px;
	}

	.delivery__partner-links{
		margin-top: 12px;
	}

	.payments__text-block{
		margin-top: 16px;
	}

	.payments .text-block{
		max-width: 945px;
	}


	.payments__tabs-container{
		margin-top: 30px;
	}

	.tabs-icon{
		margin-bottom: 30px;
	}

	.tabs-icon__btn{
		padding-bottom: 17px;
		font-size: 14px;
	}

	.text-block h4{
		font-size: 16px;
		margin-bottom: 16px;
	}


	.imp-info__line{
		padding: 20px 30px;
		min-height: 170px;
		gap: 33px;
	}

	.imp-info__colr{
		width: 26%;
	}

	.imp-info__hone{
		font-size: 20px;
	}

	.imp-info__title{
		font-size: 20px;
	}

	.imp-info__subtitle{
		margin-top: 16px;
		max-width: 414px;
	}

	.imp-info__tel{
		font-size: 16px;
	}

	.imp-info__mail{
		font-size: 16px;
	}

	.imp-info__colr-title{
		margin-bottom: 15px;
	}


	.empty-section__desc{
		margin-top: 16px;
	}

	.empty-section__btn{
		margin-top: 24px;
	}


	.info-delete{
		max-width: 895px;
	}

	.info-delete__btn{
		margin-top: 10px;
	}


	.header-small{
		padding: 32px 0;
	}

	.header-small__logo img{
		width: 191px;
	}

	.header-small__back{
		width: 200px;
	}

	.header-small__adres-btn{
		padding-left: 17px;
	}

	.header-small__adres{
		width: 200px;
	}

	.header-small__adres-marker{
		width: 12px;
		height: 16px;
		margin-top: -8px;
	}


	.page-cart{
		padding-top: 40px;
	}

	.page-cart_checkout{
		padding-bottom: 60px;
	}

	.page-cart__colr {
		width: 28.25%;
	}

	.cart-total{
		padding: 20px;
	}

	.cart-total__title{
		font-size: 16px;
		margin-bottom: 16px;
	}

	.page-cart__info-desc {
		font-size: 14px;
	}

	.page-cart__item{
		margin-top: 6px;
	}
	
	.page-cart__item-name{
		font-size: 14px;
	}

	.page-cart__items{
		gap: 14px;
	}

	.page-cart__col{
		max-width: calc(50% - 7px);
	}

	.page-cart__col:first-child{
		width: calc(50% - 7px);
	}


	.page-cart__top{
		padding: 15px 20px;
	}

	.page-cart__delete{
		margin-left: 15px;
	}

	.cart-table {
		border-spacing: 0 10px;
		margin-top: 10px;
		margin-bottom: -10px;
	}

	.cart-table td {
		padding-top: 17px;
		padding-bottom: 17px;
		padding-right: 16px;
		height: 149px;
	}

	.cart-table td:first-child{
		padding-left: 20px;
	}

	.cart-table td:last-child{
		padding-right: 20px;
	}

	.cart-table__check{
		width: 56px;
	}

	.cart-table__thumb{
		width: 94px;
	}

	.cart-table__items{
		margin-top: 10px;
	}

	.cart-table__item + .cart-table__item{
		margin-top: 5px;
	}

	.cart-table__name{
		max-width: 252px;
	}

	.cart-table__prices-flex{
		gap: 10px;
	}

	.cart-table__price{
		font-size: 20px;
	}

	.cart-table__oldprice{
		margin-top: 0;
	}

	.cart-table__last{
		width: 128px;
	}

	.cart-table__amount{
		width: 108px;
	}

	.amount__btn{
		width: 36px;
		height: 36px;
	}

	.amount .amount__input{
		font-size: 14px;
		height: 36px;
	}

	.cart-table__btns{
		margin-top: 20px;
	}

	.checkout__agree .checkbox__text{
		font-size: 12px;
	}

	.radio-big__box{
		padding-top: 11px;
		padding-bottom: 11px;
	}

	.radio-big__title{
		font-size: 16px;
	}

	.form-gray .form-gray__input{
		font-size: 14px;
	}

	.form-gray__line{
		margin-bottom: 10px;
	}

	.form-gray__col {
		width: calc(50% - 5px);
	}

	.pade-checkout__radio_marg{
		margin-bottom: 20px;
	}

	.select-city__title{
		margin-bottom: 16px;
	}

	.pade-checkout__radio._grid{
		gap: 10px;
	}

	.radio-big__box._pad {
		padding-top: 14px;
		padding-bottom: 14px;
		padding-right: 46px;
		padding-left: 14px;
		min-height: 114px;
	}

	.radio-big__box._pad::before{
		top: 14px;
	}

	.radio-big__text{
		margin-top: 5px;
	}

	.mini-modal__modal_imp{
		left: 50%;
		margin-left: -108px;
	}

	.radio-line__text{
		margin-top: 5px;
		font-size: 12px;
	}

	.radio-line__box{
		padding-top: 14px;
		padding-bottom: 14px;
	}

	.radio-line__box::before{
		top: 14px;
	}

	.delivery-info__time{
		font-size: 12px;
	}

	.delivery-info__price{
		font-size: 12px;
		margin-top: 5px;
	}

	.pade-checkout__title{
		font-size: 16px;
	}

	.form-gray__adres-flex{
		margin-left: -10px;
	}

	.form-gray__adres-flex .form-gray__line {
		width: calc(100% / 6 - 6px);
		margin-left: 10px;
	}

	.form-gray .form-gray__textarea{
		font-size: 14px;
	}

	.cart-table__checkout .cart-table__thumb {
		width: 114px;
	}

	.delivery-info__box-title{
		font-size: 16px;
	}

	.empty-page__img img{
		max-width: 164px;
	}

	.empty-page__btn{
		margin-top: 20px;
	}

	.products__grid._big{
		margin-top: 0;
	}

	.favorite-page .clear-btn{
		font-size: 14px;
	}


	.promotion-info .text-block{
		max-width: 878px;
	}

	.text-block h1,
	.text-block .title{
		font-size: 40px;
		margin-bottom: 20px;
	}

	.promotion-info__bot{
		margin-top: 20px;
	}

	.adres-mini{
		margin-left: -600px;
	}


	.modal__box{
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.modal__title{
		font-size: 20px;
		margin-bottom: 16px;
	}

	.modal-addres__detect{
		margin-top: 16px;
	}

	.modal-cities{
		max-width: 356px;
	}

	.modal-cities__item{
		padding-top: 10px;
	}

	.modal__btn{
		bottom: -30px;
	}

	.modal-search .modal-search__input{
		font-size: 16px;
	}

	.cart-small__thumb{
		width: 88px;
	}

	.cart-small__prices{
		min-width: 125px;
	}

	.modal__title span{
		font-size: 14px;
	}

	.modal-cart__total{
		margin-top: 10px;
		font-size: 16px;
	}

	.cart-small__item{
		gap: 20px;
		padding-bottom: 14px;
	}

	.cart-small__item + .cart-small__item{
		margin-top: 15px;
	}

	.about-brand__logo{
		width: 127px;
		height: 34px;
	}

	.content__flex_marg{
		margin-top: 20px;
	}

	
	.aside-list__title{
		font-size: 16px;
	}

	.aside-list__items{
		padding-top: 10px;
		padding-top: 14px;
		padding-bottom: 14px;
	}

	.aside-list__item + .aside-list__item{
		margin-top: 15px;
	}


	.about-brand__items{
		margin-top: 30px;
	}

	.about-brand__item{
		padding-top: 32px;
		padding-bottom: 32px;
	}

	.about-brand__text{
		margin-top: 20px;
		font-size: 16px;
	}

	.certs__slider_marg{
		margin-top: 20px;
	}

	.gallery__count{
		font-size: 12px;
	}

	.section-socials__colr{
		max-width: 437px;
	}


	.section-socials__info{
		margin-top: 20px;
		max-width: 398px;
	}

	.section-socials__title{
		font-size: 16px;
	}

	.section-socials__items{
		margin-top: 16px;
	}

	.section-socials__item-title{
		line-height: 1.3;
	}

	.tabs-inner__slider .swiper-slide + .swiper-slide .tabs-inner__btn::after{
		left: -25px;
		width: calc(100% + 25px);
	}


	.tabs-inner{
		margin-bottom: 20px;
	}

	.team__slider{
		margin-top: 20px;
	}

	.team__item-name{
		margin-top: 10px;
		font-size: 16px;
	}

	.team__item-position{
		margin-top: 10px;
	}

	.vacancie__pad{
		padding: 19px;
	}

	.vacancie__name{
		font-size: 16px;
	}

	.vacancie__desc{
		margin-top: 12px;
	}

	.vacancie__price{
		font-size: 24px;
		padding-top: 20px;
	}

	.vacancie__bot{
		padding: 19px;
	}
	
	.vacancie__link{
		gap: 6px;
	}


	.in-numbersq__flex{
		margin-top: 20px;
	}

	.in-numbersq__coll{
		min-width: 1px;
		width: 20.67%;
	}

	.in-numbersq__number{
		font-size: 64px;
	}

	.in-numbersq__colr{
		width: 79.33%;
	}

	.in-numbersq__items{
		padding-bottom: 0;
	}
	
	.in-numbersq__items-wrap{
		min-width: 1px;
	}

	.in-numbersq__item + .in-numbersq__item{
		margin-top: 40px;
	}

	.in-numbersq__item-number{
		font-size: 36px;
	}

	.in-numbersq__items {
		width: 31.8%;
	}

	.in-numbersq__items:first-child{
		width: 39.5%;
	}

	.in-numbersq__items:last-child {
		width: 28.7%;
	}


	.about-info{
		padding-top: 55px;
		padding-bottom: 55px;
	}

	.about-info__colr{
		width: 62%;
		max-width: 742px;
	}

	.about-info__text-block h3{
		max-width: 520px;
	}

	.about-info__bg {
		width: 567px;
		height: 381px;
		margin-left: -750px;
	}

	.about-info__text-block p{
		margin-bottom: 10px;
	}
	

	.produce-own__item{
		padding: 30px;
	}

	.produce-own__title{
		font-size: 20px;
		max-width: 252px;
	}

	.presence-card .map {
		height: 430px;
		width: calc(100% + (100vw - 1200px - var(--scroll_width)) / 2);
		margin-right: calc(((100vw - 1200px - var(--scroll_width)) / 2) * -1);
	}

	.presence-card .map::before{
		left: -35px;
	}


	.presence-card__coll{
		padding-top: 40px;
		width: 43.84%;
		max-width: 510px;
	}

	.presence-card__desc{
		margin-top: 20px;
	}

	.presence-card__select-wrap{
		margin-top: 20px;
		max-width: 456px;
	}

	.select-wrap .nice-select .current{
		font-size: 14px;
		height: 38px;
		line-height: 36px;
	}

	.select-wrap .nice-select .list .list_item{
		font-size: 14px;
	}

	.presence-card__bot{
		max-width: 456px;
		margin-top: 24px;
	}

	.presence-card .small-title br{
		display: none;
	}

	.presence-card__info{
		padding: 20px;
		margin-top: 20px;
	}

	.presence-card__colr{
		width: 56.16%;
	}


	.benefit-client__slider .swiper-slide{
		padding: 30px 0 30px 30px;
	}

	.benefit-client__item {
		padding-top: 32px;
		padding-bottom: 39px;
	}

	.benefit-client__title{
		font-size: 20px;
	}

	.benefit-client__desc{
		font-size: 14px;
	}

	.benefit-client__slider .slider-button-prev {
		left: 136%;
	}

	.benefit-client__slider .slider-button-next {
		left: calc(136% + 43px);
	}

	.benefit-client__desc{
		margin-top: 15px;
	}

	.about-banner__subtitle{
		margin-top: 20px;
		max-width: 510px;
	}

	.about-banner__wrap{
		margin-top: 35px;
	}

	.about-banner__video{
		margin-top: 24px;
	}

	.about__btn{
		height: 67px;
	}
	/* commit */

	body
	{
		font-size: 14px;
	}

	.advantages-main_marg
	{
		margin-top: 20px;
	}

	.advantages-main__info
	{
		padding-top: 16px;
		padding-left: 20px;
		padding-bottom: 29px;
		width: 61%;
	}

	.advantages-main__desc br
	{
		display: none;
	}

	._marg
	{
		margin-top: 70px;
	}

	.main-title 
	{
		font-size: 36px;
	}

	.top-wrap__btn
	{
		padding-bottom: 0;
	}

	.cats-main__item
	{
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.cats-main__img 
	{
		height: 100px;
	}

	.cats-main__name
	{
		font-size: 16px;
	}


	.services__name
	{
		font-size: 16px;
	}

	.services__name::after
	{
		margin-top: -7px;
	}

	.areas-activity__item
	{
		padding-bottom: 18px;
	}

	.comp-projects__slider 
	{
		margin-top: 20px;
	}

	.comp-projects__item
	{
		min-height: 600px;
	}

	.comp-projects__info
	{
		padding-top: 40px;
		padding-left: 40px;
		padding-right: 40px;
	}

	.comp-projects__title
	{
		font-size: 28px;
	}

	.comp-projects__desc
	{
		font-size: 14px;
		margin-top: 20px;
	}

	.comp-projects__link
	{
		margin-top: 20px;
	}

	.slider-button-prev._bot-number
	{
		width: 45px;
		height: 45px;

		left: 40px;
        bottom: 40px;
	}

	.slider-button-next._bot-number
	{
		width: 45px;
		height: 45px;

		bottom: 40px;
	}

	.slider-button-prev._bot-number svg, 
	.slider-button-next._bot-number svg 
	{
		width: 11px;
		height: 17px;
	}

	.slider-pagination.slider-pagination_number 
	{
		bottom: 49px;
	}


	.tabs-text
	{
		padding-bottom: 0;
	}

	.tabs-text__btn._active 
	{
		font-size: 36px;
	}

	.main-news__cols 
	{
		margin-top: 17px;
	}

	.main-news__bg
	{
		padding: 20px;
	}

	.main-news__info-name
	{
		font-size: 20px;
	}

	.main-news__info-desc
	{
		font-size: 14px;
		margin-top: 10px;
	}

	.main-news__item
	{
		padding-bottom: 20px;
	}

	.main-news__items._box-items .main-news__item
	{
		margin-bottom: 22px;
	}


	.main-about__cols 
	{
		margin-top: 20px;
	}

	.main-about__btn 
	{
		margin-top: 20px;
	}

	.main-about__val 
	{
		font-size: 36px;
	}

	.main-about__item + .main-about__item 
	{
		margin-top: 28px;
		padding-top: 28px;
	}

	.main-about__bg
	{
		padding-bottom: 40px;
	}


	.certs_marg 
	{
		margin-top: 30px;
	}

	.certs__item
	{
		padding-left: 30px;
		padding-right: 30px;
	}

	.certs__img 
	{
		width: 33.3%;
	}

	.certs__info 
	{
		width: calc(66.7% - 10px);
	}

	.certs__name
	{
		line-height: 1.3;
	}

	.certs__download
	{
		margin-top: 45px;
	}

	.certs__download-link 
	{
		padding-right: 17px;
	}


	.reviews__logo 
	{
		width: 81px;
	}

	.reviews__info 
	{
		width: calc(100% - 109px);
		max-width: 412px;
		margin-left: 28px;
	}

	.reviews__desc
	{
		line-height: 1.3;
	}

	.reviews__buy-product
	{
		font-size: 14px;
	}

	.reviews__name
	{
		font-size: 14px;
		margin-top: 15px;
	}

	.reviews__btn
	{
		margin-top: 20px;
	}

	.reviews__btn .btn-border
	{
		font-size: 14px;
		line-height: 42px;
		padding-left: 13px;
		padding-right: 13px;
	}

	.brands__img 
	{
		height: 40px;
	}


	.cooperation__bg
	{
		margin-top: 20px;
		padding: 50px;
	}

	.cooperation__info 
	{
		width: calc(46.8% - 15px);
	}

	.cooperation__title
	{
		font-size: 36px;
	}

	.cooperation__desc
	{
		max-width: 422px;
		margin-top: 16px;
	}

	.cooperation__btn 
	{
		margin-top: 20px;
	}

	.cooperation__wrap-box 
	{
		width: calc(53.2% - 15px);
		padding-top: 56px;
	}

	.cooperation__item-box
	{
		width: calc(100% / 2 - 25px);
	}

	.cooperation__wrap
	{
		margin-top: 68px;
		padding: 0;
	}

	.cooperation-thumbs__item
	{
		font-size: 16px;
	}


	.main-form__form 
	{
		margin-top: 22px;
	}

	.form__line
	{
		margin-bottom: 20px;
	}

	.form .form__input,
	.form .form__textarea
	{
		font-size: 14px;
	}

	

	.first-section__col:first-child
	{
		padding: 40px 40px 30px;
	}

	.info-slider__title
	{
		font-size: 40px;
	}

	.info-slider__desc
	{
		font-size: 14px;
		margin-top: 16px;
	}

	.info-slider__link
	{
		margin-top: 25px;
	}

	.info-slider .slider-pagination.slider-pagination_number 
	{
		bottom: 11px;
		left: 47px;

		font-size: 14px;
	}

	.info-slider .slider-pagination.slider-pagination_number .swiper-pagination-current
	{
		font-size: 16px;
	}

	.info-slider .slider-button-next._bot-number
	{
		left: 110px;
	}


	.main-slider__item
	{
		padding: 40px;
	}

	.main-slider__img
	{
		aspect-ratio: 1 / 0.431;
	}

	.main-thumbs__item-link
	{
		padding-top: 16px;
		padding-bottom: 16px;
	}

	.main-thumbs__img
	{
		height: 65px;
		width: 65px;
	}

	.main-thumbs__name
	{
		font-size: 12px;
		margin-top: 15px;
	}


	.breadcrumbs
	{
		margin-top: 30px;
		margin-bottom: 25px;
	}

	.articles__item
	{
		border-radius: 8px;
		padding: 30px;
	}

	.articles__item._item_big
	{
		padding: 30px;
	}

	.articles__stiker span
	{
		line-height: 26px;
		padding-left: 12px;
		padding-right: 12px;
	}

	.articles__name
	{
		font-size: 20px;
	}

	.articles__desc
	{
		font-size: 14px;
	}

	.articles__arrow
	{
		margin-top: 22px;
	}

	.articles__info
	{
		max-width: 410px;
	}


	.main-tags_marg 
	{
		margin-top: 17px;
	}

	.main-tags_blog{
		height: 36px;
	}

	.main-tags__item,
	.main-tags__open
	{
		line-height: 36px;
	}


	.inner-news_marg
	{
		margin-top: 40px;
	}

	.inner-news__info
	{
		margin-top: 10px;
	}

	.inner-news__date
	{
		font-size: 12px;
	}

	.inner-news__name
	{
		font-size: 16px;
	}

	.inner-news__name a
	{
		max-height: 42px;
	}

	.inner-news__box
	{
		margin-top: 10px;
	}

	.inner-news__desc
	{
		font-size: 14px;
		max-height: 55px;
	}

	.inner-news__tag
	{
		padding-left: 5px;
		padding-right: 5px;
	}

	.inner-news__item.inner-news__subscribe
	{
		padding-left: 30px;
		padding-right: 30px;
	}

	.inner-news__subscribe-form 
	{
		width: 712px;
		margin-left: 40px;
	}

	.inner-news__open-all
	{
		line-height: 36px;
	}

	.pagination
	{
		margin-top: 40px;
	}


	.cats-page__grid
	{
		margin-top: 18px;
	}

	.cats-page__item 
	{
		padding-bottom: 24px;
		padding-left: 6px;
		padding-right: 6px;
	}

	.cats-page__img 
	{
		max-width: 108px;
	}

	.cats-page__name
	{
		margin-top: 8px;
	}


	.contacts-info__cols
	{
		margin-top: 20px;
	}

	.contacts-info__coll 
	{
		width: calc(50% - 10px);
		padding: 30px;
	}

	.contacts-info__colc
	{
		width: calc(50% - 10px);
	}

	.contacts-info__phone
	{
		font-size: 20px;
	}

	.contacts-info__time
	{
		font-size: 14px;
		margin-top: 6px;
	}

	.contacts-info__items 
	{
		margin-top: 45px;
	}

	.contacts-info__item + .contacts-info__item 
	{
		margin-top: 22px;
	}

	.contacts-info__support-item
	{
		padding-top: 18px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.contacts-info__support-item:last-child
	{
		padding-bottom: 18px;
	}

	.contacts-info__support-item + .contacts-info__support-item
	{
		margin-top: 20px;
	}

	.contacts-info__support-info 
	{
		width: calc(55% - 15px);
	}

	.contacts-info__support-links 
	{
		width: calc(45% - 15px);
	}

	.contacts-info__support-phone
	{
		font-size: 16px;
	}

	.contacts-info__support-email
	{
		font-size: 14px;
	}


	.contacts-maps__coll 
	{
		width: calc(24.59% - 10px);
	}

	.contacts-maps__colr
	{
		width: calc(75.41% - 10px);
	}

	.tabs-border__btn
	{
		font-size: 16px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.contacts-maps__map
	{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.contacts-maps__wrap
	{
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.contacts-maps__box-desc
	{
		font-size: 14px;
	}

	.contacts-maps__box-desc + .contacts-maps__box-desc 
	{
		margin-top: 10px;
	}


	.contacts-accordion 
	{
		margin-top: 17px;
	}

	.contacts-accordion__open
	{
		font-size: 16px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.contacts-accordion__data
	{
		padding-top: 6px;
	}


	.catalog-top__items
	{
		margin-top: 0;
	}

	.catalog-top__item
	{
		padding-top: 15px;
		padding-bottom: 15px;
	}


	.aside-filter 
	{
		width: 227px;
	}

	.aside-list{
		width: 227px;
	}

	.aside-filter__found
	{
		font-size: 16px;
	}

	.content__center 
	{
		width: calc(100% - 247px);
	}

	.sorting__items
	{
		margin-left: 0;
	}

	.sorting__item
	{
		margin-left: 15px;
	}

	.filter__title
	{
		font-size: 14px;
	}

	.filter__link 
	{
		font-size: 12px;
	}

	.filter__data 
	{
		margin-top: 12px;
	}

	.filter__tag
	{
		font-size: 12px;
	}

	.filter__box
	{
		padding-top: 12px;
		padding-bottom: 12px;
	}

	.aside-filter .checkbox__text
	{
		font-size: 12px;
	}

	.filter__bot-btns 
	{
		margin-top: 15px;
	}

	.filter__submit
	{
		margin-top: 10px;
	}

	.products_marg 
	{
		margin-top: 20px;
	}

	.products__top
	{
		padding: 11px;
	}

	.stiker span
	{
		padding-left: 4px;
		padding-right: 4px;
	}

	.product__wrap
	{
		padding-top: 23px;
		padding-left: 12px;
		padding-right: 12px;
		padding-bottom: 12px;
	}

	.product__img
	{
		width: 59%;
	}

	.product__logo
	{
		height: 15px;
		margin-top: 9px;
	}

	.product__logo a
	{
		height: 15px;
	}

	.product__box
	{
		margin-top: 6px;
	}

	.product__review-star
	{
		width: 8px;
		height: 8px;
		margin-top: 2px;
	}

	.product__review-size
	{
		margin-top: 0;
	}

	.product__desc-items 
	{
		margin-top: 2px;
	}

	.product__price
	{
		font-size: 16px;
	}

	.product__price-old
	{
		font-size: 12px;
	}

	.product__note
	{
		font-size: 16px;
	}

	.product-big .banner-info__box
	{
		max-width: 400px;
		padding-top: 36px;
		padding-bottom: 36px;
	}

	.product-big .banner-info__desc, 
	.product-big .banner-info__btn 
	{
		margin-top: 17px;
	}

	.product-big .banner-info__img 
	{
		width: 600px;
	}

	.banner-info__cont
	{
		padding-left: 30px;
		padding-right: 30px;
	}

	.banner-info_main .banner-info__box
	{
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.banner-info_main .main-title
	{
		font-size: 28px;
	}

	.banner-info__box-w 
	{
		max-width: 570px;
	}

	.banner-info_main .banner-info__img 
	{
		width: 570px;
	}


	.often-search__tag-name
	{
		margin-bottom: 15px;
	}

	.search-tags__item
	{
		padding-left: 15px;
		padding-right: 15px;
	}

	.often-search__open
	{
		margin-top: 20px;
	}

	.review-products__info 
	{
		width: calc(100% - 103px);
	}

	.review-products__item 
	{
		padding: 25px;
	}

	.review-products__name
	{
		font-size: 16px;
		margin-top: 10px;
	}

	.review-products__img 
	{
		height: 83px;
		width: 83px;
		margin-left: 20px;
	}

	.review-products__data-name
	{
		font-size: 16px;
		margin-top: 15px;
	}

	.review-products__desc 
	{
		-webkit-line-clamp: 6;
		max-height: 109px;
		margin-top: 10px;
	}


	.products__list .product__wrap
	{
		padding-left: 40px;
	}

	.products__list .stikers
	{
		left: 40px;
	}

	.products__list .product__desc-item
	{
		font-size: 12px;
	}

	.products__list-wrap 
	{
		width: 176px;
	}

	.products__list .product__thumb
	{
		padding-top: 0;
		padding-bottom: 77px;
	}

	.products__list .product__img 
	{
		width: 82.4%;
	}

	.products__list .product__desc-items
	{
		margin-top: 13px;
	}

	.products__list .product__btns
	{
		right: 37px;
	}

	.products__list-data
	{
		margin-left: 48px;
		width: calc(100% - 226px);
	}

	.products__list .product__name 
	{
		margin-top: 10px;
		font-size: 16px;
	}

	.products__list .product__box 
	{
		margin-top: 9px;
	}

	.products__list .product__review-star
	{
		width: 11px;
		height: 11px;
	}

	.products__list .product__review-size
	{
		font-size: 12px;
		margin-left: 10px;
	}

	.products__list .product__copy 
	{
		margin-left: 30px;
	}

	.products__list .product__copy-btn 
	{
		font-size: 12px;
	}

	.products__list-features
	{
		margin-top: 22px;
		font-size: 12px;
	}

	.products__list-features div + div 
	{
		margin-top: 10px;
	}

	.products__list .product__price
	{
		font-size: 20px;
	}

	.products__list .product__price-old
	{
		font-size: 16px;
	}

	.products__list .product__bot 
	{
		padding-top: 15px;
	}


	.filter-use__title
	{
		font-size: 16px;
		margin-bottom: 12px;
	}

	.filter-use__flex
	{
		margin-left: -16px;
		margin-top: -10px;
	}

	.filter-use__item
	{
		margin-left: 16px;
		margin-top: 10px;
	}


	.product-info__images 
	{
        width: calc(30% - 9px);
    }

	.product-images__logo 
	{
        top: 20px;
        left: 20px;
        height: 20px;
    }

	.product-images__img
	{
		padding: 35px;
	}

	.product-images__img::after
	{
		width: 52px;
		height: 52px;

		margin-top: -26px;
		margin-left: -26px;

		background-size: 22px;
	}

	.product-images__video::before
	{
		width: 52px;
		height: 52px;

		margin-top: -26px;
		margin-left: -26px;
	}

	.product-thumbs
	{
		margin-top: 10px;
		padding-left: 40px;
		padding-right: 40px;
	}

	.product-thumbs::before,
	.product-thumbs::after
	{
		width: 40px;
	}

	.product-thumbs .slider-button-next,
	.product-thumbs .slider-button-prev
	{
		width: 27px;
		height: 27px;
		margin-top: -13.5px;
	}

	.product-thumbs .slider-button-prev svg,
	.product-thumbs .slider-button-next svg
	{
		width: 6px;
		height: 10px;
	}

	.product-thumbs__img
	{
		border-radius: 6px;
		padding: 10px;
	}

	.product-thumbs__img.product-images__video::before
	{
		width: 25px;
		height: 25px;

		margin-top: -12.5px;
		margin-left: -12.5px;
		
		background-size: 6px;
		background-position-x: calc(50% + 1px);
	}

	.product-info__guarantee
	{
		margin-top: 15px;
	}

	.product-info__guarantee span
	{
		padding-left: 22px;
	}

	.product-info__guarantee span::before
	{
		width: 14px;
		height: 17px;
		top: 0;
	}

	.product-info__info-flex 
	{
        width: calc(70% - 11px);
    }

	.product-info .stiker span
	{
		padding-left: 7px;
		padding-right: 7px;
	}

	.product-info__btn-compare
	{
		margin-left: 25px;
	}

	.product-info__btn-share
	{
		margin-left: 20px;
	}

	.product-info__btn-share svg
	{
		top: 2px;
	}

	.product-info__btn-icon
	{
		top: 0;
	}

	.product-info__btn-favorite svg
	{
		top: 1px;
	}

	.product-info__cols
	{
		margin-top: 17px;
	}

	.product-info__title
	{
		font-size: 20px;
	}

	.product-info__item
	{
		margin-top: 20px;
	}

	.product-info__desc 
	{
		max-height: 55px;
		-webkit-line-clamp: 3;
	}

	.product-info__more 
	{
		margin-top: 15px;
	}

	.product-info__feature .features__feature + .features__feature 
	{
		margin-top: 18px;
	}

	.features__feature-name
	{
		width: 370px;
	}

	.features__feature + .features__feature 
	{
		margin-top: 10px;
	}

	.product-info__feature .features__feature-name 
	{
		width: 272px;
	}

	.product-info__set
	{
		width: 280px;
	}

	.product-info .amount__btn
	{
		width: 44px;
		height: 44px;
	}

	.product-info .amount .amount__input 
	{
		font-size: 18px;
		height: 44px;
	}

	.product-info__ask-quest
	{
		padding-left: 20px;
		padding-right: 20px;
		font-size: 16px;
	}

	.product-info__ask-quest svg
	{
		width: 37px;
		height: 37px;
		margin-right: 10px;
	}

	.info-accord__item
	{
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.info-accord__title
	{
		font-size: 16px;
	}

	.info-accord__data 
	{
		padding-top: 7px;
	}

	.info-accord__delivery-desc + .info-accord__delivery-desc 
	{
		margin-top: 10px;
	}
	
	.informations__data 
	{
		padding-top: 20px;
	}

	.informations__coll 
	{
		width: calc(50% - 15px);
	}

	.informations__colr 
	{
		width: calc(50% - 15px);
		max-width: 488px;
		padding-top: 0;
	}

	.informations__download-item + .informations__download-item 
	{
		margin-top: 15px;
	}

	.informations__download-link
	{
		font-size: 12px;
	}


	.reviews-inner__items 
	{
		margin-top: 18px;
	}

	.reviews-inner__name
	{
		font-size: 16px;
		margin-right: 10px;
	}

	.reviews-inner__date
	{
		margin-left: 9px;
	}

	.reviews-inner__box-title
	{
		font-size: 12px;
	}

	.reviews-inner__desc
	{
		margin-top: 5px;
	}

	.reviews-inner__bottom 
	{
		margin-top: 20px;
	}

	.reviews-inner__btn
	{
		font-size: 12px;
		line-height: 24px;
		height: 24px;
		padding-right: 20px;
	}

	.reviews-inner__slider 
	{
		margin-top: 10px;
	}

	.reviews-inner__comment
	{
		padding: 15px 20px;
	}

	.reviews-inner__comment-title
	{
		font-size: 16px;
	}

	.reviews-inner__more
	{
		margin-top: 0;
	}

	.reviews-inner__coll 
	{
		width: calc(100% - 467px);
		max-width: 673px;
	}

	.reviews-inner__colr
	{
		width: 437px;
		padding-top: 8px;
	}

	.reviews-inner .pagination
	{
		margin-top: 20px;
	}


	.service-sect__slider
	{
		margin-top: 20px;
	}

	.service-sect__item
	{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.service-sect__title
	{
		font-size: 20px;
	}

	.service-sect__desc
	{
		margin-top: 12px;
	}


	.product-info__links
	{
		margin-left: -10px;
		margin-top: -10px;
	}

	.product-info__link
	{
		line-height: 28px;
		margin-left: 10px;
		margin-top: 10px;
	}


	.modal-success__text
	{
		font-size: 20px;
		margin-top: 30px;
	}

	.modal-success__desc
	{
		margin-top: 10px;
	}

	.modal-success__btn
	{
		margin-top: 24px;
	}

	
	.product-fixed__product
	{
		max-width: 450px;
	}

	.product-fixed__product_big{
		max-width: none;
	}

	.product-fixed__product-img
	{
		width: auto;
		max-width: 73px;
	}

	.product-fixed__product-box
	{
		width: 100%;
		margin-left: 26px;
		padding-top: 2px;
	}

	.product-fixed__product-name
	{
		font-size: 20px;
		font-weight: 500;
	}

	.product-fixed .product-info__info
	{
		margin-left: -10px;
	}

	.product-fixed .product-info__info-item
	{
		margin-left: 10px;
		margin-top: 8px;
	}

	.product-fixed__box
	{
		width: 57.5%;
		justify-content: space-between;
	}

	.product-fixed__box_small{
		width: auto;
	}

	.product-fixed .product-info__old-price
	{
		font-size: 18px;
		margin-top: 6px;
	}

	.product-fixed .product-info__cart-btn
	{
		min-width: 173px;
		margin-left: auto;
	}

	.product-fixed .product-info__amount 
	{
		margin-left: 23px;
	}

	.product-fixed__link{
		margin-left: 23px;
	}


	.footer
	{
		padding-top: 40px;
	}

	.footer.footer_small
	{
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.footer-menu._flex
	{
		margin-left: 70px;
	}

	.footer-menu._flex .footer-menu__title + .footer-menu__title 
	{
		margin-left: 20px;
	}

	.footer.footer_small .footer__copy
	{
		width: 374px;
		line-height: 1.8;
	}

	.footer__colr 
	{
		width: calc(100% - 305px);
	}

	.footer-menu__title
	{
		font-size: 16px;
	}

	.footer-menu__col-big 
	{
		margin-top: 42px;
	}

	.footer__info 
	{
		margin-top: 33px;
		font-size: 12px;
	}

	.footer__info-desc + .footer__info-desc
	{
		margin-top: 10px;
	}

	.footer__links 
	{
		margin-left: 34px;
	}

	.footer__links-link + .footer__links-link 
	{
		margin-left: 22px;
	}

	.footer__creator-img
	{
		height: 21px;
	}
}