@media (max-width: 767px)
{
	.cont{
		padding-left: 20px;
		padding-right: 20px;
	}

	.fix-btns{
		padding-left: 20px;
		padding-right: 20px;
	}

	.header{
		background: #fff;
		box-shadow: 0 0 10px 0 rgba(13, 30, 42, 0.1);
	}

	.header-catalog .cont{
		padding-left: 20px;
		padding-right: 20px;
	}

	.header-submenu{
		padding-left: 20px;
		padding-right: 20px;
	}

	.header__mob .header__adres{
		display: none;
	}

	.header__top-close{
		left: 10px;
	}

	.header__bot{
		display: none;
	}

	.header__small .mob-menu-btn{
		left: 20px;
	}

	.header__small .header__list{
        padding-left: 20px;
        padding-right: 20px;
    }

    .header__small .header__contacts,
    .header__small .header__messengers{
        padding-left: 20px;
        padding-right: 20px;
    }

	.header__small .header__info{
        width: calc(100% + 40px);
        margin-right: -20px;
		margin-left: -20px;
    }

    .header__small .header__info-wrap{
        padding-left: 20px;
		padding-right: 20px;
    }

	.footer.footer_small{
		padding-bottom: 15px;
	}


	.page-title{
		font-size: 24px;
	}

	.page-text__top{
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 12px;
	}

	.page-text__date{
		width: 100%;
	}

	.page-text__top-shared{
		display: block;
	}

	.page-text__aside-btn{
		margin-top: 10px;
	}

	.page-text__coll{
		padding-top: 10px;
	}

	.article-cats{
		gap: 10px;
	}

	.article-cats__col{
		width: 100%;
		padding: 21px 13px 28px;
	}

	.article-cats__thumb {
		max-width: 130px;
	}

	.article-cats__name{
		margin-top: 25px;
	}

	
	.text-block h2{
		margin-bottom: 16px;
	}

	.text-block * + h3{
		margin-top: 30px;
	}

	.text-block h3{
		margin-bottom: 12px;
	}

	.text-block h4{
		margin-bottom: 10px;
	}

	.text-block p + ul{
		margin-top: 0;
	}

	.text-block blockquote{
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.small-product{
		padding-left: 11px;
		padding-right: 11px;
	}


	.text-block table th{
		padding: 8px 9px;
	}

	.text-block table td{
		padding: 8px 9px;
	}

	.text-block__cols{
		flex-wrap: wrap;
	}

	.text-block__coll{
		width: 100%;
		max-width: 335px;
	}

	.text-block__cols_revers {
		flex-direction: row;
	}

	.banner-info__box {
		padding: 30px 0;
		width: 67%;
	}

	.banner-info__imp{
		margin-top: 20px;
	}

	.other-articles__img{
		display: none;
	}

	.other-articles__title{
		margin-bottom: 10px;
	}

	.other-articles__name{
		font-size: 12px;
	}


	.section-subscribe{
		padding: 35px 0 50px;
	}

	.section-subscribe__cols{
		flex-wrap: wrap;
	}

	.section-subscribe__coll{
		width: 100%;
		order: 2;
	}

	.section-subscribe__colr{
		width: 100%;
		max-width: 400px;
	}

	.section-subscribe__img{
		display: block;
	}

	.section-subscribe__img._tablet{
		display: none;
	}

	.page-text__box._flex{
		gap: 10px;
	}

	.page-text__wrap-info{
		margin-top: -6px;
	}

	.page-text__wrap-info .shared{
		display: none;
	}

	.page-text__creator{
		margin-right: auto;
	}

	.top-wrap_top{
		align-items: flex-start;
		align-content: flex-start;
	}

	.brands_marg{
		margin-top: 10px;
	}


	.page-brands__link{
		font-size: 16px;
	}

	.brands__slider_marg{
		margin-top: 16px;
	}

	.cats-page_marg{
		margin-top: 30px;
	}

	.cats-page__slider_marg{
		margin-top: 16px;
	}

	.cats-page__slider .cats-page__item{
		width: 140px;
		aspect-ratio: 1/1;
		border-radius: 0;
		padding-top: 14px;
		padding-bottom: 14px;
	}

	.cats-page__slider .cats-page__img{
		max-width: 53px;
	}

	.cats-page__slider .cats-page__name{
		font-size: 12px;
		margin-top: 10px;
	}

	.search_marg{
		margin-top: 25px;
	}

	.search .search__input{
		height: 40px;
	}

	.page-brands__items_marg{
		margin-top: 35px;
	}

	.stocks__grid .stocks__item{
		width: calc(100% / 2 - 10px);
	}


	.page-error{
		padding-top: 80px;
		padding-bottom: 40px;
	}


	.faq__accordion-open{
		font-size: 12px;
	}

	.main-form__flex{
		margin-top: 16px;
	}


	.imp-info__line{
		width: 100%;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.imp-info__colr{
		border-top: 1px solid rgba(27, 39, 69, 0.2);
		padding-top: 19px;
	}

	.imp-info ul{
		margin-left: 20px;
	}

	.imp-info ul li{
		font-size: 14px;
	}

	.imp-info ul li + li{
		margin-top: 32px;
	}
	/* commit */

	.advantages-main__item
	{
		border-radius: 10px;
	}

	.advantages-main__title
	{
		font-size: 16px;
	}

	.top-wrap__mob-none
	{
		display: none;
	}

	.cats-main__grid
	{
		margin-top: 10px;
		margin-left: -10px;
	}

	.cats-main__item
	{
		width: calc(100% / 3 - 10px);
		margin-top: 10px;
		margin-left: 10px;
		border-radius: 10px;
	}

	.cats-main__name br
	{
		display: none;
	}

	.mob-wrap
	{
		display: block;
	}

	.btn-arrow span > span
	{
		display: none;
	}


	.services__name 
	{
		font-size: 20px;
	}

	.top-wrap__btn 
	{
		padding-top: 7px;
	}

	.areas-activity__wrap .slider-pagination
	{
		display: flex;
	}

	.areas-activity__item
	{
		min-height: 276px;
		padding: 20px;
	}
	
	.areas-activity__img
	{
		padding: 0;
		top: auto;
		bottom: 0;
		right: auto;
		left: -100px;

		width: 295px;
		height: 167px;
	}

	.areas-activity__title
	{
		font-size: 20px;
	}

	.areas-activity__number
	{
		font-size: 16px;
	}

	
	.get-consultation
	{
		padding-top: 80%;
		padding-bottom: 26px;
	}

	.get-consultation__bg
	{
		width: calc(100% - 40px);
		left: 20px;
	}

	.get-consultation__bg img 
	{
		
		border-radius: 10px;
		object-position: 0 0;
	}

	.get-consultation__info
	{
		max-width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}


	.comp-projects__item
	{
		border-radius: 10px;
	}

	.comp-projects__info
	{
		position: relative;
		width: 100%;
		background: rgba(27, 39, 69, .8);
		padding-top: 40px;
		padding-bottom: 130px;
	}

	.comp-projects__info::before
	{
		display: none;
	}

	.comp-projects__bg
	{
		position: absolute;
		top: 0;
		left: 0;

		display: block;

		width: 100%;
		height: 100%;
	}

	.comp-projects__title
	{
		font-size: 24px;
	}

	.comp-projects__desc
	{
		margin-top: 16px;
	}

	.comp-projects__link
	{
		margin-top: 24px;
	}

	.slider-pagination.slider-pagination_number .swiper-pagination-current
	{
		font-size: 18px;
	}

	.slider-pagination.slider-pagination_number
	{
		font-size: 14px;
		bottom: 33px;
	}


	.main-news__coll
	{
		display: none;
	}

	.main-news__colr
	{
		margin-top: 0;
	}

	.main-news__item
	{
		padding: 20px 20px 30px;
		border-radius: 10px;

		border: 1px solid rgba(27, 39, 69, .2);

		height: auto;
	}

	.main-news__item._item-mob
	{
		display: block;
	}

	.main-news__item-info
	{
		display: flex;
		flex-direction: column;

		min-height: 100%;
	}

	.main-news__item-date
	{
		font-size: 14px;
	}

	.main-news__item-name 
	{
		font-size: 20px;
		margin-top: 10px;
	}

	.main-news__item-name br
	{
		display: none;
	}

	.main-news__item-desc
	{
		font-size: 12px;
		max-height: 46px;
	}

	.main-news__item-link 
	{
		font-size: 12px;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		align-content: flex-end;
		flex-wrap: wrap;

		flex: 1 0 auto;
	}

	.main-news__item-link a 
	{
		line-height: 22px;
		padding-left: 16px;
		padding-right: 16px;
	}

	.main-news__wrap .slider-pagination 
	{
		display: flex;
	}

	.main-news__item-info
	{
		max-width: 100%;
	}


	.main-about__top
	{
		margin-top: 0;
	}
	
	.main-about__top-coll
	{
		width: 100%;
		margin-top: 0;
	}

	.main-about__top-colr
	{
		width: 100%;
		margin-left: 0;
		max-width: 100%;
		margin-top: 12px;
	}

	.main-about__cols
	{
		margin-top: 30px;
	}

	.main-about__coll
	{
		width: 100%;
		margin-top: 0;
	}

	.main-about__video-box 
	{
		border-radius: 10px;
	}

	.main-about__colr
	{
		width: 100%;
		margin-top: 10px;
	}

	.main-about__bg
	{
		border-radius: 10px;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.main-about__item-desc 
	{
		margin-top: 20px;
	}

	.main-about__item + .main-about__item 
	{
		margin-top: 20px;
		padding-top: 20px;
	}


	.certs_marg 
	{
		margin-top: 10px;
	}

	.certs__item
	{
		border-radius: 10px;
		padding: 14px;
	}

	.certs__info
	{
		width: 100%;
		margin-top: 20px;
	}

	.certs__img
	{
		width: 52.6%;
	}

	.certs__img::after
	{
		display: none;
	}

	.certs__name {
		font-size: 14px;
	}

	.certs__desc
	{
		font-size: 14px;
		margin-top: 10px;
	}

	.certs__download
	{
		margin-top: 16px;
	}


	.reviews__item 
	{
		border-radius: 10px;
	}

	.reviews__info
	{
		width: 100%;
		margin-top: 20px;
		margin-left: 0;
	}

	.reviews__logo
	{
		width: 105px;
		height: 51px;
	}

	.reviews__desc
	{
		font-size: 14px;
	}

	.reviews__buy-product
	{
		margin-top: 6px;
		max-height: 54px;
        -webkit-line-clamp: 3;
	}

	.reviews__name
	{
		margin-top: 18px;
	}

	.reviews__btn
	{
		margin-top: 34px;
	}

	.reviews__btn .btn-border
	{
		line-height: 38px
	}

	.brands__item
	{
		width: 170px;
		padding: 20px;
		aspect-ratio: 1 / 1;
	}


	.cooperation__bg
	{
		border-radius: 0;
		padding: 0;
		overflow: visible;
		background: none;
	}

	.cooperation__bg::after
	{
		display: none;
	}

	.cooperation__slider
	{
		border-radius: 10px;
		width: calc(100% + 40px);
		margin-left: -20px;
		padding: 38px 20px 0;
	}

	.cooperation__slider .slider-pagination 
	{
		display: flex;
		margin-top: 55px;
	}

	.cooperation__bg-span
	{
		z-index: 1;
		opacity: .1;
	}

	.cooperation__bg-img
	{
		opacity: 1;
		height: calc(100% - 35px);
		width: calc(100% + 40px);
		margin-left: -20px;
		border-radius: 10px;
		overflow: hidden;
	}

	.cooperation__bg-img::after
	{
		position: absolute;
		content: '';
		top: 0;
		left: 0;

		display: block;

		width: 100%;
		height: 100%;

		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
	}

	.cooperation__bg-img::before
	{
		position: absolute;
		content: '';
		top: 0;
		left: 0;

		display: block;

		width: 100%;
		height: 100%;

		background: #1B2745;
	}

	.cooperation__info
	{
		display: block;
	}

	.cooperation__desc
	{
		max-width: 100%;
	}

	.cooperation__btn
	{
		margin-left: 0;
	}

	.btn-border
	{
		line-height: 38px;
	}

	.cooperation__wrap-box
	{
		margin-top: 20px;
		padding-right: 40px;
	}

	.cooperation__items
	{
		max-width: 100%;
		margin-top: 0;
	}

	.cooperation__item-box
	{
		width: calc(100% / 2 - 13.5px);
		font-size: 14px;
		max-width: 100%;
	}

	.cooperation__wrap
	{
		display: none;
	}


	.main-form
	{
		padding-bottom: 50px;
	}
	
	.form .form__input
	{
		height: 40px;
		padding-left: 12px;
		padding-right: 12px;
		font-size: 12px;
	}

	.form .form__textarea 
	{
		font-size: 12px;
		padding: 12px;
		height: 102px;
	}

	.file-selection__path
	{
		font-size: 12px;
	}

	.form__file-desc
	{
		margin-left: 10px;
		font-size: 12px;
	}

	.btn-red
	{
		line-height: 40px;
	}

	.main-form .btn-red
	{
		padding-left: 36px;
		padding-right: 36px;
	}


	.first-section__col
	{
		width: 100%;
	}

	.first-section__col:first-child
	{
		border-radius: 10px 10px 0 0;
		padding-bottom: 40px;
	}

	.first-section__col:last-child
	{
		background: #ECEEF1;
		border-radius: 0 0 10px 10px;
		border-top: 1px solid rgba(27, 39, 69, .05);
	}

	.info-slider 
	{
		padding-bottom: 55px;
	}


	.breadcrumbs
	{
		margin-bottom: 10px;
	}

	.breadcrumbs__wrap
	{
		flex-wrap: nowrap;
		
		overflow: hidden;
		overflow-x: auto;
		width: calc(100% + 20px);
		margin-right: -20px;
		padding-right: 20px;
		white-space: nowrap;
		padding-bottom: 10px;
	}

	.breadcrumbs__wrap::-webkit-scrollbar
	{
		width: 5px;
		height: 5px;

		background-color: rgba(27, 39, 69, .1);
	}

	.breadcrumbs__wrap::-webkit-scrollbar-thumb
	{
		background-color: rgba(27, 39, 69, .2);
		border-radius: 9px;
	}


	.articles__item
	{
		border-radius: 10px;
		padding-left: 18px;
		padding-right: 18px;
	}

	.articles__item._item_big
	{
		padding-left: 18px;
		padding-right: 18px;

		aspect-ratio: 1 / .7073;
	}

	.articles__stiker
	{
		margin-bottom: 27px;
	}

	.articles__stiker span
	{
		line-height: 22px;
	}

	.articles__name
	{
		font-size: 20px;
	}

	.articles__arrow
	{
		margin-top: 12px;
	}


	.inner-news__open-all
	{
		font-size: 18px;
		line-height: 41px;
	}

	.inner-news__item.inner-news__subscribe
	{
		border-radius: 10px;
	}

	.inner-news__grid .inner-news__item
	{
		width: calc(100% / 2 - 15px);
	}

	.inner-news__columns 
	{
		columns: 2;
	}

	.main-tags
	{
		display: block;
	}

	.main-tags_blog
	{
		height: auto;
	}

	.main-tags_marg
	{
		margin-top: 0;
	}


	.mini-modal__news
	{
		margin-top: 20px;
	}

	.mini-modal__news-btn
	{
		display: block;
	}

	.main-tags.mini-modal__modal-news
	{
		position: absolute;
	}

	.mini-modal__modal-news
	{
		
		top: calc(100% + 10px);
		visibility: hidden;
		pointer-events: none;
		opacity: 0;

		background: #fff;

		width: 100%;
		border-radius: 6px;
		padding-top: 5px;
		padding-bottom: 5px;

		box-shadow: 0 -4px 8px 0 rgba(55, 55, 55, 0.04), 0 -33px 20px 0 rgba(55, 55, 55, 0.01), 0 -93px 26px 0 rgba(55, 55, 55, 0), 0 3px 6px 0 rgba(55, 55, 55, 0.02), 0 11px 11px 0 rgba(55, 55, 55, 0.02), 0 26px 15px 0 rgba(55, 55, 55, 0.01), 0 46px 18px 0 rgba(55, 55, 55, 0), 0 72px 20px 0 rgba(55, 55, 55, 0);

		overflow: hidden;
		overflow-y: auto;
		max-height: calc(100vh - 160px);
	}

	.main-tags__item
	{
		display: block;
		width: 100%;
		border: none;
		border-radius: 0;
		line-height: 34px;
		font-size: 14px;
		background: none;
	}

	.main-tags__item.active 
	{
		color: #D64923;
		font-weight: 600;
		background: none;
	}

	.main-tags__item._hide 
	{
		display: block;
	}

	.main-tags__open
	{
		display: none !important; 
	}


	.cats-page__top
	{
		flex-wrap: wrap;
	}

	.cats-page-modal
	{
		width: 100%;
		margin-left: 0;
		margin-top: 15px;
	}

	.cats-page__grid
	{
		padding-top: 0;
		padding-left: 0;
		margin-top: 10px;
		justify-content: space-between;
	}

	.cats-page__item 
	{
		border-radius: 10px;
	}

	.cats-page__grid .cats-page__item{
		width: calc(100% / 2 - 5px);
		margin-top: 10px;
		margin-left: 0;
	}


	.contacts-info__coll
	{
		width: 100%;
		border-radius: 10px;
		padding-bottom: 20px;
	}

	.contacts-info__phone
	{
		font-size: 24px;
	}

	.contacts-info__time
	{
		margin-top: 10px;
	}

	.contacts-info__title 
	{
		font-size: 12px;
	}

	.contacts-info__colc
	{
		width: 100%;
		margin-top: 10px;
		border-radius: 10px;
	}

	.contacts-info__items
	{
		margin-top: 50px;
	}

	.contacts-info__support-item + .contacts-info__support-item
	{
		margin-top: 15px;
	}

	.qrcod-wrap
	{
		max-width: 198px;
	}

	.qrcod-wrap__img
	{
		max-width: 100%;
	}

	.qrcod-wrap__phone 
	{
		font-size: 22px;
		margin-top: 12px;
	}

	.contacts-info__colr
	{
		border: none;
		padding: 0;
		margin-top: 40px;
	}

	.qrcod-wrap .slider-pagination 
	{
		display: flex;
		margin-top: 20px;
	}

	.contacts-maps__map
	{
		min-height: 446px;
	}

	.contacts-maps__socials 
	{
		margin-top: -10px;
		margin-left: -10px;
	}

	.contacts-maps__socials-link
	{
		margin-top: 10px;
		margin-left: 10px;

		width: 24px;
		height: 24px;
	}

	.contacts-maps__box-item
	{
		width: calc(100% / 2 - 15px);
		border-radius: 10px;
	}

	.contacts-maps__box-title
	{
		font-size: 12px;
	}

	.contacts-maps__box-desc
	{
		font-size: 14px;
	}

	.contacts-gallery__img
	{
		width: calc(100% / 2 - 15px);
	}

	.requisites__link
	{
		line-height: 31px;
	}


	.requisites-table tr
	{
		display: block;
	}

	.requisites-table tr td
	{
		display: block;
		border-right: none;
	}

	.requisites-table tr:last-child td
	{
		border-bottom: 1px solid rgba(27, 39, 69, .2);
	}

	.requisites-table tr:last-child td:last-child
	{
		border-bottom: none;
	}

	.requisites-table tr td.requisites-table__td-name
	{
		display: none;
	}

	.requisites-table tr td::before
	{
		content: attr(data-label);
		display: block;
		margin-bottom: 12px;

		font-size: 12px;
		color: #737D87;
	}

	
	.catalog-top__items
	{
		margin-left: 0;
		justify-content: space-between;
	}

	.catalog-top__item
	{
		width: calc(100%/2 - 5px);
		margin-top: 10px;
		margin-left: 0;
		padding: 10px;
	}

	.products__grid 
	{
		--products_count: 2;
	}


	.review-products__img 
	{
		height: 73px;
		width: 73px;

		display: flex;
	}


	.filter.filter-big__wrap
	{
		padding-top: 24px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.filter-big__mob-title
	{
		display: block;
	}

	.filter-big__close
	{
		position: absolute;
		top: -4px;
		right: -10px;
	}

	.filter-big__arrow-close
	{
		display: block;
	}

	.filter-big__title,
	.filter__search
	{
		display: none;
	}

	.filter-big__col
	{
		width: 100%;
	}

	.filter-big__col + .filter-big__col
	{
		margin-top: 10px;
	}

	.filter-big .filter__item
	{
		padding-bottom: 10px;
		border-bottom: none;
	}

	.filter__item + .filter__item 
	{
		margin-top: 10px;
	}



	.footer
	{
		padding-top: 30px;
	}

	.footer__coll
	{
		float: none;
		width: 100%;
	}
	
	.footer__colr
	{
		float: none;
		width: 100%;
		padding-top: 30px;
	}

	.footer .clear
	{
		display: none;
	}

	.footer__links
	{
		width: 100%;
	}

	.footer__links-link
	{
		width: 100%;
	}

	.footer__links-link + .footer__links-link 
	{
		margin-left: 0;
		margin-top: 13px;
	}

	.footer.footer_small .footer__links-link + .footer__links-link
	{
		margin-left: 0;
	}

	.footer__creator
	{
		margin-left: 0;
		margin-top: 20px;
	}
}