@media (max-width: 1199px)
{

    .header__adres{
        margin-right: 15px;
    }

    .header__iso{
        margin-right: 15px;
    }

    .header__iso-link {
        gap: 0;
    }

    .header__iso-link span{
        font-size: 0;
    }

    .header__list-item {
        font-size: 12px;
    }

    .header__btn{
        padding: 0;
        font-size: 12px;
    }


	.header__top .header__search {
        width: 460px;
    }

	.page-text__wrap {
		grid-template-columns: minmax(0, 1fr) 250px;
		gap: 20px;
	}

	.page-title{
		font-size: 36px;
	}

	.banner-info__img {
		width: 50%;
	}

	.banner-info__imp{
		margin-top: 32px;
	}


	.faq__accordion-open{
		padding-top: 14px;
		padding-bottom: 14px;

		font-size: 14px;
	}


	.text-block * + h2 {
		margin-top: 40px;
	}

	.text-block h2{
		font-size: 24px;
	}


	.delivery__partner-link{
		font-size: 12px;
	}

	.cart-table__sum{
        font-size: 16px;
    }

    .cart-table__price{
        font-size: 16px;
    }

    .cart-table__oldprice{
        font-size: 12px;
    }

	.products__grid._big{
		--products_count: 4;
	}

	.adres-mini{
		margin-left: 0;
		left: 20px;
	}

	.gallery__grid {
		grid-template-columns: repeat(5, 1fr);
		gap: 10px;
	}

	.gallery__item:first-child {
		grid-column: span 3;
	}


	.in-numbersq__number {
		font-size: 58px;
	}

	.in-numbersq__items{
		padding-left: 22px;
		padding-right: 22px;
	}

	.in-numbersq__items:first-child {
		width: 37.5%;
	}

	.in-numbersq__items:last-child {
		width: 30.7%;
	}

	.about-info__bg{
		display: none;
	}

	.about-info__colr{
		width: 100%;
		max-width: none;
	}

	.about-info__text-block{
		max-width: none;
	}

	.about-info__text-block h3{
		max-width: none;
	}
	/* commit */

	.slider-button-prev, 
	.slider-button-next
	{
		width: 35px;
		height: 35px;
	}

	.slider-button-prev svg, 
	.slider-button-next svg 
	{
		width: 9px;
		height: 15px;
	}

	.btn-border,
	.btn-red
	{
		font-size: 12px;
	}

	.main-title,
	.cooperation__title
	{
		font-size: 28px;
	}

	.cats-main__grid
	{
		margin-left: -15px;
	}

	.cats-main__item
	{
		width: calc(100% / 6 - 15px);
		margin: 15px 0 0 15px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.cats-main__img 
	{
		height: 60px;
	}

	.cats-main__name 
	{
		font-size: 14px;
	}

	.areas-activity__title 
	{
		font-size: 18px;
	}

	.comp-projects__title 
	{
		font-size: 26px;
	}


	.tabs-text__btn._active 
	{
		font-size: 26px;
	}

	.tabs-text__btn 
	{
		font-size: 18px;
	}


	.main-about__val 
	{
		font-size: 32px;
	}

	.certs__item
	{
		padding: 15px;
	}

	.certs__name 
	{
		font-size: 14px;
	}

	.certs__download 
	{
		margin-top: 20px;
	}


	.reviews__btn .btn-border
	{
		font-size: 12px;
	}


	.cooperation__bg
	{
		padding: 40px;
	}

	.cooperation__items
	{
		margin-top: -75px;
	}

	.cooperation__item-box 
	{
		width: calc(100% / 2 - 15px);
		font-size: 16px;
		margin-top: 75px;
	}

	.cooperation-thumbs__item 
	{
		font-size: 14px;
	}


	.first-section__col:first-child 
	{
		padding: 20px;
	}

	.info-slider__title
	{
		font-size: 36px;
	}

	.info-slider .slider-button-next._bot-number
	{
		width: 35px;
		height: 35px;
		left: 90px;
	}

	.info-slider .slider-button-prev._bot-number
	{
		width: 35px;
		height: 35px;
	}

	.info-slider .slider-button-prev._bot-number svg, 
	.info-slider .slider-button-next._bot-number svg 
	{
		width: 9px;
		height: 15px;
	}

	.info-slider .slider-pagination.slider-pagination_number 
	{
		bottom: 8px;
		left: 33px;
	}

	.main-thumbs__item-link
	{
		padding-top: 10px;
		padding-bottom: 10px;
	}


	.inner-news__subscribe-form
	{
		width: 530px;
	}

	.inner-news__time 
	{
		top: 15px;
		right: 15px;
	}

	.inner-news__tags
	{
		margin-top: 5px;
	}

	.inner-news__columns
	{
		columns: 4;
	}

	.main-tags 
	{
		gap: 15px;
	}

	.articles__item,
	.articles__item._item_big
	{
		padding: 20px;
	}

	.articles__name 
	{
		font-size: 18px;
	}


	.cats-page__name
	{
		font-size: 14px;
	}


	.search-tags__item
	{
		padding-left: 10px;
		padding-right: 10px;
	}


	.contacts-info__support-item
	{
		padding-left: 20px;
		padding-right: 20px;
	}


	.contacts-maps__items
	{
		margin-left: -18px;
	}

	.contacts-maps__item
	{
		margin-left: 18px;
	}

	.contacts-maps__box-item
	{
		width: calc(100% / 4 - 20px);
	}

	.contacts-gallery__count span
	{
		font-size: 12px;
	}

	.qrcod-wrap
	{
		max-width: 750px;
	}


	.filter.filter-big__wrap
	{
		padding-left: 40px;
		padding-right: 40px;
	}

	.filter-big__title
	{
		font-size: 24px;
	}

	.product-big .banner-info__img 
	{
		width: 50%;
	}


	.banner-info_main .banner-info__box
	{
		padding-top: 35px;
		padding-bottom: 48px;
	}


	.products__list .product__wrap
	{
		padding-right: 60px;
	}

	.products__list-data
	{
		padding-right: 0;
		margin-left: 30px;
		width: calc(100% - 206px);
	}

	.products__list .product__btns 
	{
		right: 20px;
	}

	.products__list-buy 
	{
		width: 200px;
	}

	.products__list-info 
	{
		width: calc(100% - 230px);
	}

	.products__list .product__btns
	{
		width: 20px;
	}

	.products__list .product__compare
	{
		width: 20px;
		height: 20px;
	}

	.products__list .product__compare svg
	{
		width: 9px;
		height: 9px;
	}

	.products__list .product__favorite,
	.products__list .product__favorite svg
	{
		width: 20px;
		height: 18px;
	}

	.products__list .product__favorite::before 
	{
		width: 20px;
		height: 18px;
	}


	.products__list .product__pick-up
	{
		padding-left: 10px;
		padding-right: 10px;
	}


	.footer-menu__flex
	{
		margin-left: -30px;
		margin-top: -30px;
	}

	.footer-menu__col
	{
		width: calc(100%/3 - 30px);
		margin: 30px 0 0 30px;
	}

	.footer-menu__col-big
	{
		display: block;
	}

	
	.footer__blocks
	{
		padding-right: 0;
		display: block;
	}

	.footer__box + .footer__box
	{
		margin-top: 15px;
		margin-left: 0;
	}

	.footer__socials-items._flex .footer__socials-item
	{
		margin-left: 0;
	}

	.footer__socials-items._flex .footer__socials-item 
	{
		margin-left: 0;
	}

	.footer__socials-items
	{
		margin-left: 0;
		display: block;
	}

	.footer__socials-item + .footer__socials-item 
	{
		margin-top: 15px;
	}

	.footer__copy
	{
		width: 100%;
		margin-bottom: 10px;
	}

	.footer__links
	{
		margin-left: 0;
	}


	.footer.footer_small .footer__copy
	{
		width: 100%;
		margin-bottom: 15px;
	}

	.footer__top
	{
		align-items: flex-start;
		align-content: flex-start;
	}

	.footer__top .footer__rating
	{
		display: none;
	}

	.footer-menu._flex
	{
		margin-top: 15px;
	}

	.footer.footer_small .footer__boxl .footer__rating
	{
		display: block;
		margin-top: 30px;
	}

	.footer.footer_small .footer__socials-items
	{
		display: flex;
	}

	.footer.footer_small .footer__socials-item + .footer__socials-item
	{
		margin-top: 0;
	}
}