@media (max-width: 479px)
{
	.article-cats__thumb{
		max-width: 112px;
		aspect-ratio: 1 / 1.12;
	}

	
	.small-products__slider,
	.small-products__slider2{
		overflow: visible;
		width: 297px;
		margin-left: auto;
		margin-right: auto;
	}

	.small-product {
		padding: 30px 19px 22px;
	}

	.small-product__thumb{
		max-width: 228px;
		padding-bottom: 31px;
	}

	.small-product__name{
		margin-top: 20px;
		padding: 0 9px;
	}

	.small-product__desc{
		margin-top: 16px;
		padding: 0 9px;
	}

	.small-product__btn{
		margin-top: 19px;
	}


	.banner-info{
		padding-left: 20px;
		padding-right: 20px;
	}

	.banner-info__bg{
		border-radius: 10px;
	}

	.banner-info__img{
		position: relative;
		width: 100%;
		height: 290px;
	}

	.banner-info__img img {
		object-position: 65% 0;
		border-radius: 10px 10px 0 0;
	}

	.banner-info__img::after {
		top: auto;
		bottom: 0;
		width: 100%;
		height: 15px;
		background: linear-gradient(180deg, rgba(245, 245, 247, 0) 0%, #f5f5f7 100%);
	}

	.banner-info__box,
	.banner-info_main .banner-info__box{
		width: 100%;
		padding: 0 0 24px;
	}

	.banner-info__desc{
		margin-top: 10px;
	}

	.banner-info__btn{
		margin-top: 20px;
	}

	.banner-info__btn .btn-red{
		width: 100%;
	}


	.section-subscribe._bot{
		margin-bottom: -50px;
	}

	.section-subscribe__cols{
		gap: 35px;
	}

	.section-subscribe__colr{
		width: calc(100% + 40px);
		max-width: none;
		margin-left: -20px;
		margin-right: -20px;
	}

	.form_subscribe{
		margin-top: 20px;
	}

	.form-subscribe{
		margin-bottom: 16px;
		gap: 0;
		background: #fff;
		border-radius: 4px;
	}

	.form-subscribe .form-subscribe__input{
		height: 40px;
	}

	.form-subscribe__submit{
		width: 130px;
	}

	.page-socials__title{
		font-size: 12px;
	}

	.page-socials__flex{
		gap: 10px;
	}

	.page-socials__link{
		width: 22px;
	}


	.section-text__file-link{
		padding-top: 9px;
		padding-bottom: 9px;
	}
	
	.section-text__file-download{
		display: none;
	}

	.page-brands__item{
		width: calc(50% - 5px);
		aspect-ratio: 1 / .397;
	}

	.stocks__grid{
		margin-left: 0;
	}

	.stocks__grid .stocks__item{
		width: 100%;
		margin-left: 0;
	}

	.stocks__item-name{
		font-size: 16px;
	}

	.stocks__item-name br{
		display: none;
	}

	.stocks__item-info{
		top: 20px;
		right: 20px;
		line-height: 20px;
		padding-left: 22px;
		padding-right: 5px;
	}

	.stocks__item-info::before{
		left: 5px;
		width: 12px;
		height: 12px;
		margin-top: -6px;
	}


	.page-error{
		padding-top: 38px;
		padding-bottom: 0;
		margin-bottom: -12px;
	}

	.page-erro__img img{
		max-width: 215px;
	}

	.page-error .page-title{
		margin-top: 12px;
	}

	.page-error__btns{
		margin-top: 30px;
	}

	.page-error__btn{
		width: 100%;
	}


	.big-sorting_marg{
		margin-top: -10px;
	}

	.big-sorting__item{
		width: 100%;
	}

	.big-sorting__open{
		font-size: 18px;
		line-height: 41px;
	}

	.big-sorting__modal{
		padding: 20px 20px 24px;
	}

	.big-sorting__modal .search{
		margin-bottom: 20px;
	}

	.big-sorting__data-wrap{
		max-height: 223px;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	.big-sorting .checkbox__text br{
		display: none;
	}

	.big-sorting__data-bot{
		margin-top: 20px;
		gap: 15px;
		justify-content: flex-start;
	}


	.section-top + ._marg{
		margin-top: 30px;
	}

	.delivery__text-block{
		margin-top: 16px;
	}

	.delivery__partners{
		margin-top: 30px;
	}

	.delivery__partners-grid {
		margin-top: 16px;
	}

	.delivery__partner-links{
		margin-top: 20px;
		gap: 6px 10px;
	}

	.delivery__partner{
		gap: 10px;
	}

	.delivery__partner-icon{
		padding: 10px 4px;
		height: 82px;
		width: 117px;
	}

	.payments__text-block{
		margin-top: 10px;
	}

	.payments__tabs-container{
		margin-top: 24px;
	}

	.tabs-icon{
		margin-bottom: 20px;
	}

	.tabs-icon__btn{
		padding-bottom: 11px;
		font-size: 12px;
	}

	.tabs-icon__icon{
		width: 20px;
		height: 20px;
	}

	.payments .text-block * + h3{
		margin-top: 20px;
	}


	.info-delete{
		padding: 12px 26px 12px 16px;
		gap: 10px;
		margin-bottom: 40px;
	}

	.info-delete__img{
		width: 64px;
	}

	.info-delete__btn{
		margin-top: 8px;
	}

	.info-delete__close{
		right: 2px;
		top: 2px;
	}

	.empty-section{
		padding-bottom: 40px;
	}

	.empty-section__flex{
		flex-wrap: wrap;
		gap: 30px;
		justify-content: center;
	}

	.empty-section__img{
		width: 170px;
		aspect-ratio: auto;
	}

	.empty-section__box{
		width: 100%;
	}

	.empty-section .page-title{
		font-size: 36px;
		text-align: center;
	}

	.empty-section__desc{
		margin-top: 10px;
		text-align: center;
		max-width: none;
	}

	.empty-section__btn{
		margin-top: 10px;
	}

	.empty-section__btn .btn-red{
		width: 100%;
	}

	.compare-products{
		width: calc(100% + 40px);
		margin-left: -20px;
		margin-right: -20px;
	}

	.compare-products__slider2, .compare-products__slider3 {
		width: calc(50% - 5px);
	}

	.compare-section__slider2 .compare-feature__item{
		padding-right: 5px;
	}

	.compare-section__slider3 .compare-feature__item{
		padding-left: 5px;
	}
	/* commit */

	._marg 
	{
		margin-top: 50px;
	}

	.slider-pagination 
	{
		margin-top: 10px;
	}

	.advantages-main__item
	{
		min-height: 163px;
	}

	.advantages-main__img 
	{
		width: 42%;
	}
	
	.advantages-main__info
	{
		padding-left: 15px;
		width: 58%;
	}

	.advantages-main__desc
	{
		margin-top: 12px;
	}


	.cats-main__item 
	{
		width: calc(100% / 2 - 10px);
		padding-bottom: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.cats-main__name
	{
		margin-top: 30px;
	}


	.services__item
	{
		aspect-ratio: 1 / .827;
	}


	.slider-pagination.slider-pagination_number
	{
		font-size: 12px;
		bottom: 32px;
        left: 44px;
		width: 44px;
	}

	.slider-pagination.slider-pagination_number .swiper-pagination-current
	{
		font-size: 12px;
	}

	.slider-button-next._bot-number
	{
		left: 88px;
		bottom: 30px;
	}

	.slider-button-prev._bot-number
	{
		bottom: 30px;
	}


	
	.tabs-text__btn
	{
		font-size: 20px;
	}


	.main-about__title
	{
		font-size: 14px;
	}


	.certs__item
	{
		padding: 19px;
	}

	.certs__name {
		font-size: 16px;
	}


	.reviews__desc,
	.reviews__name
	{
		font-size: 12px;
	}

	.reviews__buy-product 
	{
		max-height: 47px;
		font-size: 12px;
	}

	.reviews__btn > *
	{
		width: 100%;
	}


	.brands__item
	{
		width: 140px;
	}

	.brands__img
	{
		height: 22px;
	}

	.articles__item,
	.articles__item._item_big
	{
		aspect-ratio: 1 / .845;
	}

	.inner-news__grid .inner-news__item
	{
		width: calc(100% / 1 - 15px);
	}

	.inner-news__time
	{
		top: 20px;
		right: 20px;
		font-size: 14px;
	}

	.inner-news__time::before 
	{
		width: 12px;
		height: 12px;
	}

	.inner-news__name
	{
		margin-top: 6px;
		font-size: 20px;
	}

	.inner-news__name a 
	{
		max-height: 52px;
	}

	.inner-news__desc 
	{
		max-height: 32px;
	}

	.inner-news__tags
	{
		margin-top: 10px;
	}

	.inner-news__subscribe-title
	{
		padding-left: 0;
	}

	.inner-news__subscribe-title::before
	{
		display: none;
	}

	.inner-news__subscribe-flex
	{
		flex-wrap: wrap;
	}

	.inner-news__subscribe-submit
	{
		margin-left: 0;
		margin-top: 10px;
		width: 100%;
	}

	.inner-news__subscribe-submit .btn-red
	{
		width: 100%;
	}

	.inner-news__top-flex
	{
		display: block;
	}

	.inner-news__open-all
	{
		margin-left: 0;
		margin-top: 20px;
	}

	.pagination a 
	{
		margin-left: 17px;
	}

	.products-view__item + .products-view__item
	{
		margin-top: 10px;
	}

	.you-search__history-btn
	{
		margin-top: 17px;
		margin-left: 114px;
	}

	.products-view__name
	{
		max-width: 210px;
	}


	.info-slider__desc
	{
		margin-top: 23px;
	}

	.info-slider__link 
	{
		margin-top: 21px;
	}

	.info-slider .slider-button-next._bot-number
	{
		left: 69px;
	}

	.info-slider .slider-pagination.slider-pagination_number
	{
		font-size: 12px;
		left: 25px;
		bottom: 5px;
	}

	.info-slider .slider-pagination.slider-pagination_number .swiper-pagination-current
	{
		font-size: 12px;
	}


	.main-slider__item
	{
		padding: 20px 20px 10px;
	}

	.main-slider__img 
	{
		aspect-ratio: 1 / 0.661;
	}

	.main-thumbs__name
	{
		font-size: 10px;
	}


	.cats-page__item
	{
		padding-top: 10px;
		padding-bottom: 25px;
	}

	.cats-page__img 
	{
		max-width: 96px;
	}

	.cats-page__name
	{
		margin-top: 13px;
		font-size: 12px;
	}

	.cats-page__val
	{
		margin-top: 5px;
	}
	

	.contacts-maps__wrap
	{
		padding: 15px;
		border-radius: 10px;
	}

	.contacts-maps__item
	{
		width: 100%;
	}

	.contacts-maps__box-items
	{
		margin-top: 6px;
	}

	.contacts-maps__box-item
	{
		width: calc(100% / 2 - 10px);
		margin-top: 10px;
		margin-left: 10px;
	}


	.contacts-gallery__grid 
	{
		margin-top: -10px;
		margin-left: -10px;
	}

	.contacts-gallery__img 
	{
		width: calc(100% / 2 - 10px);
		margin-top: 10px;
		margin-left: 10px;
	}

	.requisites__top
	{
		justify-content: space-between;
	}


	.requisites-table tr td
	{
		padding: 15px;
	}


	.sorting
	{
		padding-bottom: 0;
		border-bottom: none;
	}

	.products__slider
	{
		width: calc(100% + 40px);
		margin-left: -20px;
	}

	.products__grid
	{
		width: calc(100% + 40px);
		margin-left: -20px;
		justify-content: space-between;
	}

	.products__grid .product
	{
		width: calc(100% / var(--products_count) - 6px);
		margin-top: 10px;
		margin-left: 0;
	}

	.products__top
	{
		padding-top: 11px;
	}

	.stiker
	{
		font-size: 10px;
	}

	.product__thumb 
	{
		padding-bottom: 12px;
	}

	.product__img 
	{
		width: 81.5%;
	}

	.product__thumb .slider-pagination .slider-dot
	{
		width: 5px;
	}

	.product__name br
	{
		display: none;
	}

	.product__prices
	{
		margin-left: -5px;
	}

	.product__price
	{
		margin-top: 5px;
		margin-left: 5px;
	}

	.product__price-old
	{
		margin-top: 7px;
		margin-left: 5px;
	}

	.product__note
	{
		font-size: 15px;
	}


	.review-products__item
	{
		border-radius: 10px;
		padding: 20px;
	}

	.review-products__rating
	{
		padding-left: 20px;
	}

	.review-products__rating::before 
	{
		width: 15px;
		height: 15px;
	}

	.review-products__rev-val
	{
		margin-left: 10px;
	}

	.review-products__name a
	{
		border-bottom: 1px solid currentColor;
	}

	.review-products__desc 
	{
		-webkit-line-clamp: 6;
		max-height: 94px;
	}


	.filter-big .filter__bot-btns
	{
		padding-top: 20px;
	}

	.filter-big .filter__submit
	{
		line-height: 44px;
		width: 100%;
	}

	.filter-big .filter__reset
	{
		line-height: 42px;
		margin-top: 10px;
		width: 100%;
	}


	.products__grid .product-big 
	{
		width: calc(100% - 40px);
		margin-left: 20px;
		margin-bottom: 10px;
		margin-right: 0;
		border-radius: 10px;
		padding-left: 0;
		padding-right: 0;
	}
	
	.product-big .banner-info__img,
	.banner-info_main .banner-info__img
	{
		width: 100%;
	}

	.product-big .banner-info__box
	{
		padding-bottom: 26px;
	}

	.banner-info__cont
	{
		padding-left: 20px;
		padding-right: 20px;
	}


	.footer__logo 
	{
		max-width: 220px;
	}

	.footer__colr
	{
		padding-top: 10px;
	}

	.footer-menu__flex
	{
		display: block;
		margin-top: 0;
		margin-left: 0;
	}

	.footer-menu__col
	{
		width: 100%;
		margin-left: 0;
		margin-top: 0;
	}

	.footer-menu__col + .footer-menu__col
	{
		border-top: 1px solid rgba(255, 255, 255, .2);
	}

	.footer-menu__col-big
	{
		display: none;
	}

	.footer-menu__list
	{
		display: none;
	}

	.footer-menu__link-more
	{
		display: none;
	}

	.footer-menu__title a
	{
		padding: 20px 0;
		display: block;
	}

	.footer__email
	{
		font-size: 12px;
	}

	.footer__subscribe 
	{
		margin-top: 20px;
	}

	.footer__rating 
	{
		margin-top: 40px;
	}
	
	.footer-menu__mob-soc
	{
		display: block;
	}

	.footer__socials-items
	{
		display: flex;
		margin-left: -25px;
	}

	.footer__socials-items._flex .footer__socials-item 
	{
		margin-left: 25px;
		margin-top: 25px;
	}

	.footer__socials-item + .footer__socials-item 
	{
		margin-top: 25px;
	}

	.footer__box + .footer__box
	{
		margin-top: 20px;
	}

	.footer__info
	{
		margin-top: 40px;
	}

	.footer__info-desc
	{
		line-height: 1.5;
	}

	.footer__info-desc + .footer__info-desc,
	.footer__bot
	{
		margin-top: 13px;
	}

	.footer__links-link_none
	{
		display: none;
	}

	.footer__creator
	{
		margin-left: 0;
		margin-top: 20px;
	}

	.footer__top
	{
		display: block;
	}

	.footer.footer_small .footer__top .footer__boxl .footer__rating
	{
		display: none;
	}

	.footer.footer_small .footer__top .footer__rating
	{
		display: block;
		margin-top: 20px;
		margin-right: 0;
	}

	.footer-menu._flex
	{
		margin-left: 0;
		margin-right: 0;
		margin-top: 10px;
	}
	
	.footer-menu._flex .footer-menu__title + .footer-menu__title
	{
		border-top: 1px solid rgba(255, 255, 255, .2);
		margin-top: 0;
	}

	.footer.footer_small .footer__socials-item + .footer__socials-item
	{
		margin-top: 25px;
	}

	.footer.footer_small .footer__info
	{
		margin-top: 38px;
	}
}